[2016-05-03 11:14] jcampbell05 opened #1 "Some users are unable to sign-up to the app."
We have a report from one user who is unable to sign-up.

What we know:
- The user initially was unable to sign-in via Facebook (Learned via Mixpanel).
- The user has a firebase account and a profile on Mixpanel which indicates he eventually was able to login via Facebook.
- The user doesn't have a location.

Potential issue:
- Did the user struggle to authenticate with Digits ?

[2016-05-03 11:14] jcampbell05 commented on #1
Requested a screenshot of the issue from the user.. Actioned to @alexsup

[2016-05-03 11:23] alexsup opened #2 "The app is sending text invites to duplicate contacts."
According to Plivo, the app has sent 5,567 messages since the launch last week, which seems like alot.

We should verify we are sending the correct amount.

[2016-05-03 11:25] jcampbell05 opened #3 "Some already verified users are requested to verify their number for Digits."
It seems that there is a case where users are being prompted to verify their number even though they have already validated.

What we know:
- When a user validated upon upgrade their Digits ID wasn't being stored.

What we've fixed:
- The Digits ID is always stored no matter which path a user verified their number via.

Questions left to answer:
- Are some users actually cancelling and not realisi

[2016-05-03 11:26] jcampbell05 commented on #3
We've added some additional logs for errors and success for Digits to gather more information. Pushing to Testflight for affected users to test.

[2016-05-03 11:28] jcampbell05 commented on #2
@alexsup could you provide the information from Plivio of what was sent.

[2016-05-03 13:28] jcampbell05 opened #4 "Message excerpt is wrongly attributed."
When a message excerpt is shown in the list of chats then it is shown as being from the wrong user.

i.e if a message is from another user it shows as being sent from the user looking at the list rather than the other user.

In the screenshot below the message was actually sent by James Campbell

![13148428_10156825191250693_250877792_o](https://cloud.githubusercontent.com/assets/1484989/14984559/

[2016-05-03 13:30] jcampbell05 opened #5 "Some messages show "message loading..." after a very long time."
In the screenshot below one message is still loading even after all the others have loaded.

![13148428_10156825191250693_250877792_o](https://cloud.githubusercontent.com/assets/1484989/14984611/7fbda584-113b-11e6-9e44-a96ab7b73118.jpg)

[2016-05-03 13:31] jcampbell05 opened #6 "Some chats have the wrong message excerpt"
In the screenshot below the chat for Joaquim is showing the message for the chat with James, and the one for Linda is the chat for Pierre.

![13148428_10156825191250693_250877792_o](https://cloud.githubusercontent.com/assets/1484989/14984611/7fbda584-113b-11e6-9e44-a96ab7b73118.jpg)

[2016-05-03 13:33] jcampbell05 opened #7 "It isn't clear to the user when they are hidden or what that means."
In the screenshot below the user was confused as to why they couldn't see their friends or anyone on the radar whilst being hidden (A behavior change / potential bug in the latest release).

![13120452_10156825205485693_2098762690_o](https://cloud.githubusercontent.com/assets/1484989/14984679/d264c6be-113b-11e6-955c-8f93acf58f34.jpg)

Questions to answer:

- Should we show people on the radar whil

[2016-05-03 13:35] jcampbell05 opened #8 "Inconsistent Hidden UI"
In the screenshot below the tab-bar is shown in the non-hidden state and the user reported that they shouldn't be hidden.

Either the tab bar is wrong or the app is wrongly showing the purple "hidden" state. We need to identify that the app is correctly showing the hidden state both in colour and in the tab bar at all times.

![13120452_10156825205485693_2098762690_o](https://cloud.githubuserconte

[2016-05-03 13:38] jcampbell05 commented on #7
Our design team are actioning a new design which will hopefully make the hidden state more clear to the user.

[2016-05-03 13:47] jcampbell05 opened #9 "User shouldn't be able to send invites to non-mobile numbers"
Currently when a user sends a text invite it goes to all numbers, we should restrict it to mobiles only.

[2016-05-03 13:51] jcampbell05 opened #10 "It isn't clear to some users why they should verify their number."
Some user have sent feedback that they do not understand why they have to verify their number.

Possible Solutions:
- Information screen before verify screen
- Only prompt them when going to the invite screen ?

[2016-05-03 13:51] jcampbell05 commented on #10
Seeking feedback from our design team.

[2016-05-03 13:55] alexsup commented on #10
Agree. App = awful right now

[2016-05-03 15:49] jcampbell05 commented on #3
@alexsup  Tested `3.7.1 (Jaffa 2)` with the fix from @roger-tan .

I can confirm that the code detects that the user has a digits ID and no-longer prompts them.

[2016-05-09 11:37] jcampbell05 commented on #2
@alexsup potentially this is due to duplicate contacts in a user's contacts book. @roger-tan  is working on filtering out duplicate contacts to resolve this.

[2016-05-09 12:29] jcampbell05 commented on #2
@alexsup we have also just merged in a fix to filter out non-mobile numbers.

[2016-05-10 09:22] jcampbell05 opened #12 "Some Supstas are receiving duplicate notifications."
It seems that some users are currently receiving duplicate notifications.

![img_4991](https://cloud.githubusercontent.com/assets/1484989/15141663/09495214-1699-11e6-8254-ba7cda5d9e28.PNG)

Will mark as "waiting input" until we can confirm what the issue is.

[2016-05-10 09:30] alexsup commented on #12
@jcampbell05 I believe this is to do with multiple records per user in our notification services.

[2016-05-10 09:32] jcampbell05 commented on #7
So the design team are working on improving the state for this screen but in the next release we will have a improved hide icon to make this more obvious.

[2016-05-10 09:32] jcampbell05 commented on #12
@alexsup makes sense since it is effecting one of our beta users. We should look into this when we start our migration away from Parse.

[2016-05-10 13:33] alexsup commented on #10
This is being fixed for version in version 4.

[2016-05-11 08:55] alexsup commented on #2
@roger-tan Can we remove this as a bug?

[2016-05-11 10:10] jcampbell05 commented on #2
@alexsup Fixed in 4.0

[2016-05-11 10:10] #2 closed

[2016-05-11 10:23] alexsup commented on #12
@jcampbell05 Closing this for now.

[2016-05-11 10:24] alexsup commented on #9
@jcampbell05 @roger-tan Where are we with this?

Has this been committed?

[2016-05-11 10:26] alexsup commented on #1
@jcampbell05 Haven't heard anymore about this.

Closing for now.

[2016-05-11 10:26] #1 closed

[2016-05-11 10:27] #10 closed

[2016-05-11 10:30] alexsup commented on #7
@jcampbell05 Added defect label. Being looked at in v4

[2016-05-11 10:30] jcampbell05 commented on #3
What we know so far:
- New code is more defensive about not being able to get the user.
- Even if the user is not found and we try to login via digits. Digits will only show login UI if the user isn't logged in (So we may not even need that defensive code).
- The user can only be logged out by the session becoming invalid.
- The session becomes invalid if:
   - The user logs out from digits.com

[2016-05-11 10:33] alexsup commented on #3
@jcampbell05, @roger-tan

Just a quick reminder: when logging for development rather than growth, please report to Logentries rather than Mixpanel :)

[2016-05-11 10:39] alexsup opened #13 "Flare list occasionally crashes"
Scenario: Viewing created flare in flare list from Radar
  Given I create a flare
  When I click flares on the tab bar
  Then the app crashes

[2016-05-11 10:41] roger-tan commented on #9
It has been committed!

[2016-05-11 10:41] jcampbell05 commented on #9
@alexsup we have implemented a filter in the next release so we just need to validate the fix.

[2016-05-11 11:49] jcampbell05 commented on #12
Just got this

[2016-05-11 12:43] alexsup commented on #12
@jcampbell05 Only one message is being sent to the notification server

[2016-05-11 12:44] jcampbell05 commented on #12
@alexsup okay let's keep this open until we figure out what is happening.

[2016-05-11 12:45] jcampbell05 commented on #13
@alexsup Could you create some steps to reproduce, I am not seeing this crash right now. I need more detail :)

[2016-05-11 12:46] alexsup commented on #13
@jcampbell05 Steps above.

For clarity:

1. Create a flare.
2. Return to radar
3. Click on flares on the tab bar
4. Crash

[2016-05-11 12:51] jcampbell05 commented on #13
@alexsup when you created a flare what did you fill in / what options did you choose ?

[2016-05-12 11:00] alexsup opened #14 "Occasionally Radar appears empty"
Occasionally, when opening the app, the radar is empty and stays empty.

Rich & Danny experienced this problem 11th/12th May.

[2016-05-12 11:12] jcampbell05 commented on #14
@alexsup if you can gather some more information about their situations and add it to this issue then this would be great 👍

[2016-05-12 11:23] alexsup commented on #14
Ok, will do!

Thanks,

AB

*___________________________________*

*Alex⎥Head of Tech, Product and Things*

*alex@supmenow.com <alex@supmenow.com>⎥supmenow.com <http://supmenow.com/>*

*Sup*

*Runway East *

*10 Finsbury Square*

*London*

* EC2A 1AF *

On Thu, May 12, 2016 at 12:12 PM, James Campbell <notifications@github.com>
wrote:

[2016-05-12 11:35] alexsup commented on #13
@jcampbell05, @roger-tan  I am getting this again.

Simply open the app, tap on flares, try to open a flare, the app crashes.

If I re-open and then tap on flares, the app crashes.

[2016-05-12 13:25] jcampbell05 commented on #13
A fix should be merged into dev.

[2016-05-12 14:23] jcampbell05 opened #15 "Flares aren't sorted into date order."
We should sort flares by most recent first.

[2016-05-12 15:50] alexsup opened #16 "Flare action language is poorly formatted"
There are still emojis in the middle of the action text rather than at the end.

DL is testing language evening of 12th.

[2016-05-12 15:51] alexsup opened #17 "Very poor accuracy for flare location"
The inaccuracy blue circle is 3 miles wide.

Can we tighten this up?

[2016-05-12 15:53] roger-tan commented on #15
No, owner flares first and then Flare ordered by most recent

[2016-05-12 15:54] alexsup opened #18 "Can't select now for a flare time"
I have to select another time and then reselect now

[2016-05-12 15:54] alexsup opened #19 "I can't close flare time"
Seems really odd that I can't do this

[2016-05-12 15:55] alexsup opened #20 "I can't choose which part of the flare photo to crop"
It only lets me crop a pre-set part of the photo.

[2016-05-12 15:56] alexsup opened #21 "I can't choose a photo when creating a Flare"
I can only take a photo

[2016-05-12 15:56] alexsup opened #22 "Facebook crashes when authenticating for sharing for flare"
To replicate, go through the authentication flow

[2016-05-12 15:57] alexsup opened #23 "Facebook share to profile needs authorised"
Sup needs to request permission from Facebook to request write permissions.

[2016-05-12 15:58] alexsup opened #24 "No Feedback on successful flare launch"
When I launch a flare, it doesn't tell me if I have been successful.

A new flare doesn't appear at the top.

[2016-05-12 15:58] alexsup opened #25 "I can't see Flares on the Radar"

[2016-05-12 15:59] alexsup opened #26 "If I click on a flare in the flare list, it doesn't show me the flare pop up."

[2016-05-12 16:00] alexsup opened #27 "My friends disappear when I hide"
When I click show it takes time for them to come back.

Friends are not in sync with the hide button. I can sometimes see friends in dark mode and not in friends mode.

[2016-05-12 16:03] jcampbell05 commented on #17
@alexsup the blue circle is based on your location obtained directly by Apple Maps, we do not control the level of accuracy in this case since they are using their own internal tracker.

Therefore the device must be somewhere the GPS is having difficulties obtaining an accurate signal (i.e. in the basement of a super cool tech shared office space).

[2016-05-12 16:03] #17 closed

[2016-05-12 16:04] jcampbell05 commented on #27
Duplicate of https://github.com/Supmenow/sup-issues/issues/7

[2016-05-12 16:04] #27 closed

[2016-05-12 16:07] jcampbell05 commented on #25
@alexsup  I'm not sure if we should even implement this, at least for this sprint:
- The next design seems to drop this in favour of just users on the Radar.
- This would make the radar even more complex (already getting bugs).
- There are a lot of questions to still answer in spikes for this.

[2016-05-12 16:08] alexsup commented on #15
For simplicity reasons, let's just make it chronological.

[2016-05-12 16:10] alexsup commented on #25
@jcampbell05 Check the documentation of Gherkin stories and user flow.

– Flares on radar that I've been invited to.

BUT....

Let's push this to v5.

[2016-05-12 16:11] jcampbell05 commented on #25
@alexsup  Haven't had a chance to check them out yet, but will look once v4 is pushed.

Agreed with v5, closing for now since this is no longer a bug.

[2016-05-12 16:11] #25 closed

[2016-05-12 16:14] jcampbell05 commented on #15
@alexsup  Agreed, will tweak.

[2016-05-12 16:19] jcampbell05 commented on #24
Related to #15

[2016-05-12 16:19] #24 closed

[2016-05-12 16:20] jcampbell05 commented on #23
@alexsup we should request permissions, could you explain the issue more clearly perhaps provide some steps to reproduce.

[2016-05-12 16:22] jcampbell05 commented on #22
@alexsup this is when you press the facebook button when creating a flare right ?

[2016-05-12 16:22] alexsup commented on #23
It's todo with Facebook management, we need to apply for it.

[2016-05-12 16:23] jcampbell05 commented on #23
Okay, this is more of a task than a issue. I'll close for now and move this to our release checklist.

[2016-05-12 16:23] #23 closed

[2016-05-12 16:23] alexsup commented on #22
Yes, it crashed when returning from Facebook Auth.

[2016-05-12 16:24] roger-tan commented on #26
Which Flare Popup?

[2016-05-12 16:26] jcampbell05 commented on #26
@roger-tan The Flare Preview. It should show up when tapping a flare on the flare list.

[2016-05-12 16:26] alexsup commented on #26
The one with the cat gif :)

[2016-05-12 19:07] jcampbell05 commented on #13
@alexsup  In a branch I get this but its only when you open and close it very quickly.

[2016-05-12 19:09] alexsup commented on #13
OK, great. Let's fix it.

[2016-05-13 07:50] jcampbell05 commented on #26
@alexsup  should be fixed in the last crashlytics build, let me know and we can close this issue

[2016-05-13 07:52] jcampbell05 commented on #20
@alexsup looked into the documentation, looks like this is the standard behaviour of the image picker.
We should look into a cropping library or building our own crop screen.

[2016-05-13 07:54] jcampbell05 commented on #21
Will implement as part of version 5

[2016-05-13 07:56] jcampbell05 commented on #19
@alexsup  You can if you tap outside but we should add a done button the user can visibly see.

[2016-05-13 07:57] jcampbell05 commented on #18
@alexsup Could you provide more detail ? The time picker should be now by default.

[2016-05-13 07:58] jcampbell05 commented on #9
@alexsup once we confirm the fix we can close this issue.

[2016-05-13 09:05] alexsup commented on #26
Good job.

This is closed!

[2016-05-13 09:05] #26 closed

[2016-05-13 09:06] alexsup commented on #20
@jcampbell05 Ok.

Let's move this into a future feature and away from issues

[2016-05-13 09:06] #20 closed

[2016-05-13 09:32] alexsup commented on #19
@jcampbell05 I can't close the time by clicking outside the box

[2016-05-13 09:33] alexsup commented on #18
@jcampbell05 The time picker is in 5 min intervals.

If the time is, say, 1023 the the initial pick is 1020 which is greyed out because it's in the past.

[2016-05-13 09:34] alexsup commented on #9
@roger-tan @jcampbell05 Can we close this?

[2016-05-13 09:36] jcampbell05 commented on #9
@alexsup does the latest crashlytics only show mobile ? if yes, then we can close it.

[2016-05-13 09:37] alexsup commented on #9
@jcampbell05 If you mean in the add friends to radar section, then yes!

[2016-05-13 09:37] jcampbell05 commented on #18
@alexsup So you want to be able to pick in realtime not 5 minute slots ?

[2016-05-13 09:38] alexsup opened #28 "It takes 5 seconds to load phone book on Invite friends to radar"
Open add friends to radar,

It takes 5 seconds to show something...

No user feedback

[2016-05-13 09:38] jcampbell05 commented on #19
I'll see if I can reproduce.

[2016-05-13 09:39] roger-tan commented on #9
@alexsup We should close this when we release the app.

[2016-05-13 09:39] jcampbell05 commented on #28
@alexsup  Okay these feels like two issues:

- The long loading times
- No user feedback

Could you break this up into two separate issues and I'll carry on the conversation there.

[2016-05-13 09:39] #28 closed

[2016-05-13 09:40] alexsup commented on #18
@jcampbell05 don't have an opinion for now.

Needs to be better in the future.

Happy that #19 will make this usable for now.

[2016-05-13 09:40] #18 closed

[2016-05-13 09:40] jcampbell05 commented on #18
@alexsup  I believe this was by design so you should discuss this with Pierre.

[2016-05-13 09:41] alexsup commented on #28
Will do.

[2016-05-13 09:41] jcampbell05 commented on #9
We should ideally close these once they are in dev so we can easily see whats been fixed.

@alexsup  In that case I'll close.

[2016-05-13 09:41] #9 closed

[2016-05-13 09:42] jcampbell05 commented on #16
@alexsup let me know when DL has some.

[2016-05-13 09:47] jcampbell05 commented on #13
@alexsup pushing some code to dev - in the next crashlytics release let me know if it's fixed for you and we can close.

[2016-05-13 09:58] alexsup opened #29 "App is too big (in mb)"
Can we compress better or remove bloat?

[2016-05-13 09:59] jcampbell05 commented on #29
@alexsup So before we discuss what we can remove, we should figure out what the "target size" should be.

Is the app you are referring to the one on the app store or crashlytics ? And what size would be idea?

[2016-05-13 10:09] alexsup commented on #29
App Store.

25 MB

[2016-05-13 10:10] roger-tan commented on #29
We can clean up at least old assets we don't use.

[2016-05-13 10:17] jcampbell05 commented on #29
So there are a few things we can do:
- Remove old assets we don't use.
- Compress the assets ourselves rather than relying on Xcode's compression. (Read this https://imageoptim.com/tweetbot.html)
- Reduce the quality of some assets (Images often hold more colour and quality than most people can discern on a mobile phone)
- Improve the way we design the app so more of it can be rendered in code wit

[2016-05-13 10:32] alexsup commented on #29
OK. Let's point this to V5.x

[2016-05-13 10:37] alexsup opened #30 "I am unable to exit a flare preview after returning from chat."
Given I am on flare preview
When I click I'm coming
And I go to chat
And I return to the flare preview
Then There is no way to exit flare preview

[2016-05-13 10:38] jcampbell05 commented on #30
@alexsup  do you mean you return to the flare preview ?

[2016-05-13 10:47] roger-tan commented on #30
No close button?

[2016-05-13 10:55] alexsup opened #31 "Update language inline with DL's requirements"
Ask Danny for requirements

[2016-05-13 11:01] alexsup opened #32 "Pre-defined text from flare doesn't trigger send state"
Given I'm on flare preview
When I click on I'm Coming
Then it profiles the text
And it shows the sup button
And not the send button

[2016-05-13 11:15] jcampbell05 commented on #32
Is the text sent or just pre-filled ?

[2016-05-13 11:25] Dannylowney opened #33 "Language: Loading radar"
**Location:** Radar view when loading friends
**Current copy:** Hold on a tick.... We're looking for your friends...
**Replace with:** Hold up. We're just looking for your nearby friends...

[2016-05-13 12:12] Dannylowney opened #34 "Language: Invite friends to Sup page"
**Location:** Settings>Friends on Sup>Add Friends to Radar>
**Current copy:** Tap below to share SUP with friends you want to see more
**Replace with:** Get the squad to join Sup so you can start hanging out more.

**Current copy:** Share with friends
**Replace with:** Share

[2016-05-13 12:13] Dannylowney opened #35 "Language: Twitter invite"
Location: Twitter invite
Current: #FOMO sucks...
Replace with: 👋🎈Sup me! [download link]
Priority: LOW

[2016-05-13 12:14] Dannylowney opened #36 "Language: Whatsapp/SMS invite"
Location: Whatsapp/SMS invite
Current: Download the hottest...
Replace with: Hey! 👋 I've personally selected you to join me on the Sup app 😉. It makes it waaaayyyy easier for us to meet up by letting you know when I'm nearby. Download the app and if you see that I'm in your area, drop me a message so we can hang out! supme.co/downloadsuplink

Priority: LOW

[2016-05-13 12:16] alexsup commented on #32
It is pre-filled but because I haven't done any key ups/downs then the sup button doesn't change to a send button.

[2016-05-13 12:16] jcampbell05 commented on #32
Okay makes sense, I'll update it so the visibility of the send button is binded to the text value.

[2016-05-13 12:17] alexsup commented on #33
@roger-tan Here is a text change.
Thanks @Dannylowney.

[2016-05-13 12:21] alexsup commented on #36
@Dannylowney You say this is a low priority.

Is this for the 26/5 release or the one after?

[2016-05-13 12:25] jcampbell05 commented on #31
@alexsup can you add all of the other tasks into the description of this task as a check list (Look at the github markdown to see how a checklist is done)

[2016-05-13 12:26] jcampbell05 opened #37 "The create an account on Digits confuses users"
Users upon seeing create an account on the Digits verification screen are confused and believe they are making a new account.

[2016-05-13 12:26] Dannylowney commented on #36
This was in reply to you asking if there were any language changes to be
made in the *current* product (that James pushed to Crashlytics last night)

Ideally for the 26/5 release, yes.

On Fri, May 13, 2016 at 1:21 PM, Alex Barton <notifications@github.com>
wrote:

--
Growth ⛏
danny@supmenow.com
+44 7973 954 846

[2016-05-13 12:28] alexsup commented on #31
Sure.

[2016-05-13 12:32] alexsup commented on #37
@jcampbell05 Can you clarify? A new account after Facebook login?

[2016-05-13 12:33] jcampbell05 commented on #35
@alexsup So what should the download link be ? Unique referral link or do we have a branch link we can use (We should have one already).

[2016-05-13 12:34] jcampbell05 commented on #37
@alexsup So when a user logs in via Facebook, they get a digits screen.

The screen after they enter their phone number has a "create account" button which is confusing if it's a returning user.

It should ideally say something like "Login" or something.

[2016-05-13 12:34] Dannylowney commented on #35
As it is: bnc.lt/twitsup  <https://t.co/AC8USkDXkY>

On Fri, May 13, 2016 at 1:33 PM, James Campbell <notifications@github.com>
wrote:

--
Growth ⛏
danny@supmenow.com
+44 7973 954 846

[2016-05-13 12:36] alexsup commented on #35
@jcampbell05 @Dannylowney Moved to v4.5

[2016-05-13 12:37] alexsup commented on #31
Moved to 4.5

[2016-05-13 12:38] Dannylowney commented on #35
Cool :)

On Fri, May 13, 2016 at 1:36 PM, Alex Barton <notifications@github.com>
wrote:

--
Growth ⛏
danny@supmenow.com
+44 7973 954 846

[2016-05-13 12:38] jcampbell05 commented on #30
@roger-tan yes this is the screenshot

![image](https://cloud.githubusercontent.com/assets/1484989/15248054/f90aabb8-190f-11e6-933a-0f7c01c88d4c.png)

[2016-05-13 12:49] roger-tan commented on #30
Ok, I have an idea when the button the navigation bar is not visible after un chat.

[2016-05-13 13:03] alexsup commented on #37
@jcampbell05 Is this something we can change?

[2016-05-13 13:11] alexsup commented on #19
@roger-tan @jcampbell05

Let's take time out of the flare flow.

Can we just remove it?

It's not in milestone 4.5.

Save time.

[2016-05-13 13:11] alexsup commented on #19
Changed label to wontfix

[2016-05-13 13:22] alexsup commented on #22
@jcampbell05 @roger-tan

Please removed from 4.0 and hide from interface.

Added to 4.5.

[2016-05-13 15:13] jcampbell05 commented on #22
Okay will hide from interface. When is 4.5 I'll update the milestone ?

[2016-05-13 15:14] alexsup commented on #22
@jcampbell05 Milestone updated.

@roger-tan Has already updated.

Please do PRs :)

[2016-05-13 15:14] jcampbell05 commented on #19
That makes sense we will just save the created at and let the flare expire after 30 minutes

[2016-05-13 15:15] jcampbell05 commented on #22
@ab on them :)

[2016-05-13 15:16] jcampbell05 commented on #37
@alexsup I am not sure, we should looks to it for 4.5

[2016-05-13 15:16] jcampbell05 commented on #30
Awesome is that because we hide it ?

[2016-05-13 15:21] #19 closed

[2016-05-13 15:22] jcampbell05 commented on #16
@alexsup was this updated ?

[2016-05-13 15:24] jcampbell05 commented on #5
@alexsup is this a wont fix since we are removing chat ?

[2016-05-13 15:24] roger-tan commented on #30
Because the Chat Message does!

[2016-05-13 15:25] roger-tan commented on #16
Will be.

[2016-05-13 15:25] jcampbell05 commented on #4
@alexsup is this a wont fix since we are removing chat ?

[2016-05-13 15:26] jcampbell05 commented on #6
@alexsup is this a wont fix since we are removing chat ?

[2016-05-13 15:27] alexsup commented on #5
@jcampbell05 Technically yes.

And the Just Now bug.

We could keep chat but remove chat list. We will do this in 4.5.

[2016-05-13 15:28] alexsup commented on #4
Yep. Don't close but put wontfix.

[2016-05-13 15:29] jcampbell05 commented on #5
@alexsup that makes sense most bugs are in the list

[2016-05-13 15:29] #5 closed

[2016-05-13 15:29] alexsup commented on #6
Yep. Keep open.

[2016-05-13 15:30] jcampbell05 commented on #6
@alexsup isn't a wont fix a close?

[2016-05-13 15:31] jcampbell05 commented on #4
@alexsup shouldn't we close if it's a wont fix ? Otherwise it gets messy

[2016-05-13 15:32] jcampbell05 commented on #30
Ah it shouldn't hide the navigation bar on view disappear 😀 it should only change its appearance on appear

[2016-05-13 15:39] alexsup commented on #4
Sure

[2016-05-13 15:39] #4 closed

[2016-05-13 15:39] #6 closed

[2016-05-13 15:51] jcampbell05 commented on #32
Merged into dev, will close once fix is confirmed.

[2016-05-13 16:01] jcampbell05 commented on #15
This should be in dev now, will close once fix is confirmed

[2016-05-13 16:03] jcampbell05 commented on #30
This should be in dev now, will close once fix is confirmed

[2016-05-13 16:03] jcampbell05 commented on #16
This should be in dev now, will close once fix is confirmed

[2016-05-13 17:30] jcampbell05 commented on #33
@roger-tan did we do this ?

[2016-05-13 20:02] roger-tan commented on #33
Not yet!

[2016-05-14 13:52] #13 closed

[2016-05-14 13:52] #15 closed

[2016-05-14 13:52] #16 closed

[2016-05-14 13:52] #30 closed

[2016-05-14 13:52] #32 closed

[2016-05-16 09:53] jcampbell05 commented on #8
@alexsup Interestingly one of our users described the hiding of users as being "good"

https://www.buglife.com/apps/sup/reports/16

[2016-05-16 10:13] alexsup opened #38 "Does mixpanel update in the background?"
I can't see any evidence that Mixpanel "Last Location Updated" is updated when:

1.  The app is in the background
2.  The app is terminated

Please confirm.

[2016-05-16 10:15] jcampbell05 commented on #38
@alexsup  I've tweeted them to clarify their upload policy. Other analytics I've been able to find information on specify that they batch events up and some even only do it on app open (not background).

https://twitter.com/jcampbell_05/status/732151800653090816

[2016-05-16 11:17] jcampbell05 opened #39 "It takes a long time to load the contacts list."
We have feedback that the contacts screen takes about 7 seconds to load.
https://www.buglife.com/apps/sup/reports/26

[2016-05-16 11:18] jcampbell05 opened #40 "Internal Notifications Are Shown Forever In The App"
We are getting reports that Internal push notifications are always shown even after the user taps on them, we should confirm this and make them dismiss upon a user tapping them.

https://www.buglife.com/apps/sup/reports/25

[2016-05-16 11:19] jcampbell05 opened #41 "Long radar loading times"
We are getting reports from Rich that the radar is currently taking a while to load. Perhaps this is due to him being a super user ?

https://www.buglife.com/apps/sup/reports/20

[2016-05-16 11:20] jcampbell05 opened #42 "Long un-hide times"
We have a report from Rich that it takes a while to un-hide perhaps this is due to him being a Super User ?

https://www.buglife.com/apps/sup/reports/16

[2016-05-16 12:15] alexsup commented on #39
@jcampbell05 Likely scale issue due to RP size of phone book.

However, I've experience also.

Not for 4.0.

Please ask Pierre for loading screen for 4.5.

[2016-05-16 12:18] alexsup commented on #41
@jcampbell05 Ignore if RP.

However, still looks buggy from a user's perspective. No feedback on how the radar works for a user.

This should be passed to Pierre. @jcampbell05 Please help Pierre set up a user.

[2016-05-16 12:18] alexsup commented on #42
@jcampbell05 see #41

[2016-05-16 13:37] jcampbell05 commented on #41
@alexsup  Okay, I got another from RP

https://www.buglife.com/apps/sup/reports/27

[2016-05-16 14:00] jcampbell05 commented on #42
@alexsup  I'll close this in favour of #41

[2016-05-16 14:00] #42 closed

[2016-05-16 14:03] alexsup opened #43 "Flare launch button doesn't reload"
Given I am creating a flare
When I click launch
And I haven't filled in Let's
Or I havn't filled in where
Then I get an alert
And The launch button stays as a spinner
And I can't continue.

[2016-05-16 14:09] alexsup opened #44 "Flare response message can't be sent"
Given I am on the flare list
When I click on flare
And click on "I'm coming"
Then The message is squashed
And I can't send the message

[2016-05-16 14:11] Dannylowney opened #45 "Flare errors"
When I get an error on sending a flare (didn't choose activity/location/neither) and then return to create a flare screen, the launch button disappears in to a loading circle

[2016-05-16 14:15] alexsup commented on #45
Thanks @Dannylowney.

@jcampbell05 Closing as duplicate of #44

[2016-05-16 14:15] #45 closed

[2016-05-16 14:20] alexsup opened #46 "Block user from Sup doesn't seem to work"
Given I am on the flare list
When I slide left
And click block
Then the flare stays there
And I can still get flares from that user
And I can't see them in my blocked list

[2016-05-16 14:20] alexsup commented on #46
@jcampbell05 Technically this should be in for 4.0.

Pushed to 4.5

[2016-05-16 14:39] jcampbell05 commented on #46
@alexsup  this should work in the latest code on `dev`

[2016-05-16 14:39] #46 closed

[2016-05-16 14:43] alexsup opened #47 "flareQueue doesn't care about g"
@jcampbell05 In general, each event in a queue should be actionable. If not it shouldn't be there.

The flaresQueue is only interested in new flare creation only, not updates.

For simplicity, please remove any updates to queue items (g).

Please add location to the flare creation event.

This will allow notifications to work.

To clarify: One flare = One event (not three 👍 )

[2016-05-16 14:44] jcampbell05 commented on #47
@alexsup moving the location data into the multiwrites rather than using Geofire. In future we should move away from Geofire.

[2016-05-16 14:46] jcampbell05 commented on #47
Fixed in https://github.com/Supmenow/Sup-iOS/pull/931

[2016-05-16 14:50] alexsup commented on #47
Thanks @jcampbell05

[2016-05-16 14:52] #47 closed

[2016-05-16 14:54] alexsup opened #48 "Flare error language is incorrect"
- User didn't pick an activity: Hold up! | Please select an activity | OK
- User didn't pick a location: Hold up! | Please select a location | OK
- There was an issue making the flare (i.e poor internet): Cannot Send Flare | Please check your internet connection and try again. | OK
- We couldn't access the camera or it isn't avaliable.

[2016-05-16 15:03] jcampbell05 commented on #43
https://github.com/Supmenow/Sup-iOS/pull/933 should fix this.

[2016-05-16 15:07] jcampbell05 commented on #48
@alexsup  Can we push `User didn't pick either` to another release, it requires a logic change.

[2016-05-16 15:08] jcampbell05 commented on #48
@alexsup  potentially the same for settings as well :)

[2016-05-16 15:20] alexsup commented on #48
@jcampbell05 Anything that isn't a simple text change can go.

Will put in Jira

[2016-05-16 15:24] alexsup commented on #48
@jcampbell05 In Jira and updated

[2016-05-16 15:35] jcampbell05 commented on #44
@alexsup  these are two issues since the title is about not being able to send a message this issue will henceforth be about the send button being disabled.

[2016-05-16 15:36] jcampbell05 commented on #44
https://github.com/Supmenow/Sup-iOS/pull/935 this fixed the disabled I'm coming button

[2016-05-16 16:52] jcampbell05 opened #49 "iOS App Takes 30 minutes to build"
The Ideal time would be 2 minutes and a more acceptable time is 10 minutes.

Build Time Breakdown So Far (Time in seconds):

- Verifying required fastlane version | 0           |

- default_platform                    | 0           |

- xcake + CocoaPods                             | 284         |

- match                               | 9           |

-  match                               | 5

[2016-05-16 17:06] #48 closed

[2016-05-16 17:06] #43 closed

[2016-05-16 17:06] #44 closed

[2016-05-16 17:49] jcampbell05 commented on #7
@alexsup  we have a fix going into v4.

[2016-05-16 18:01] alexsup commented on #7
@jcampbell05 Great!

Thanks J :)

Club Mate for you!

[2016-05-16 18:19] jcampbell05 commented on #7
@alexsup  okay, get me some tommorrow. Once my two PRs are merge we can validate this.

[2016-05-17 09:56] jcampbell05 opened #50 "Some users aren't identified with Smooch."
It seems there are certain situations where users aren't identified with smooch.

However we do get their Firebase ID etc, just not their name:

<img width="871" alt="screen shot 2016-05-17 at 10 56 26" src="https://cloud.githubusercontent.com/assets/1484989/15318467/0729fb84-1c1e-11e6-85d1-e718d9a342ac.png">

[2016-05-17 10:01] alexsup opened #51 "Flares are global"
Given I create a flare
When Rich is on the other side of the world
Then he gets my flare in the activity list

[2016-05-17 10:10] jcampbell05 opened #52 "When Log Entries is ran in the background it doesn't know the LocalUserID"
<img width="868" alt="screen shot 2016-05-17 at 11 09 33" src="https://cloud.githubusercontent.com/assets/1484989/15318825/dc175afc-1c1f-11e6-9f71-2106d979d069.png">

Notice how above during a background location update, Log Entries is unable to know who the UserID is.

[2016-05-17 10:14] jcampbell05 commented on #7
Should be in latest dev.

[2016-05-17 10:14] #7 closed

[2016-05-17 10:43] alexsup commented on #52
@jcampbell05 Good spot!

[2016-05-17 11:21] alexsup opened #53 "Crazy delete behaviour"
Given I am on the flare list
When I swipe left and delete
Then the screen glitches
And random other flares are auto swiped to the left

[2016-05-17 11:23] alexsup commented on #41
The problem here is either read or write.

@jcampbell05 Can we first narrow down which is the problem.

Thanks.

AB

[2016-05-17 11:23] alexsup commented on #39
A potential push to 4.6

[2016-05-17 11:33] alexsup opened #54 "Flare preview text"
Given I am on a flare preview
When I look at the header text
Then it says "Flare Preview"

[2016-05-17 11:33] jcampbell05 commented on #41
@alexsup  the problem is both but only in certain situations.

[2016-05-17 11:37] jcampbell05 commented on #53
@alexsup Auto-swiped, could you record this behviour so I can get a better idea of what you mean.

[2016-05-17 11:37] alexsup commented on #53
@jcampbell05 Will do after 4.0 is released

[2016-05-17 14:45] jcampbell05 opened #55 "Improve Application Performance On 3G"

[2016-05-18 08:59] alexsup commented on #55
@jcampbell05 This isn't an issue.

Please can you clarify?

[2016-05-18 09:00] alexsup commented on #52
@jcampbell05 Can you explore?

[2016-05-18 09:00] jcampbell05 commented on #55
@alexsup true, right now the app can be slow on 3G networks which other apps can cope.

I believe ours should be able to handle it.

[2016-05-18 09:00] alexsup opened #56 "When I show after being dark, the app tells me I have no friends"
Given I am on the radar
When I click on hide
And then on show
Then I have a screen that says I have no friends.

[2016-05-18 09:06] alexsup commented on #55
@jcampbell05 can we profile it?

Do we have specific data on what is causing problems?

[2016-05-18 09:18] jcampbell05 commented on #55
@alexsup  We can profile it in specific areas in the app i.e The Radar.
We had some idea in our Epic in JIRA.

[2016-05-18 09:22] jcampbell05 commented on #52
@alexsup sure, which sprint this one ?

[2016-05-18 14:00] jcampbell05 commented on #49
@alexsup Shaved around 30 seconds to a minute with https://github.com/Supmenow/Sup-iOS/issues/952

[2016-05-18 15:37] alexsup opened #57 "My badge number is very high"
Given I am on the home screen of my phone
When I look at the sup app icon
Then it tells me I have 345 notifications.

[2016-05-18 15:38] alexsup opened #58 "Flare preview never loads from any flare notifications"
Given I receive a flare notification
When I swipe right
And enter the app
Then the flare details never load

Ever.

[2016-05-18 16:03] alexsup commented on #58
@jcampbell05 What further information do you need?

[2016-05-18 16:03] alexsup commented on #57
@jcampbell05 What further information do you need?

[2016-05-18 16:03] alexsup commented on #55
@jcampbell05 Would moving to a friends API help?

[2016-05-18 22:38] jcampbell05 commented on #55
Not sure would have to profile it but maybe not

[2016-05-18 22:38] jcampbell05 commented on #57
@alexsup we just need to look into why it happens

[2016-05-18 22:39] jcampbell05 commented on #58
@alexsup a reproducible case

[2016-05-19 09:06] alexsup commented on #58
@jcampbell05 Ok. Please let me know when you have time to reproduce.

[2016-05-19 09:07] #57 closed

[2016-05-19 15:46] alexsup opened #59 "FAQs are out of date"
@jcampbell05 Let's remove them.

[2016-05-19 15:48] alexsup opened #60 "The About Sup is out of date"
@jcampbell05 Delete it.

[2016-05-19 15:50] alexsup opened #61 "The jobs page is out of date/"
@jcampbell05 Link to https://angel.co/supapp/jobs

[2016-05-20 10:20] alexsup opened #62 "Location updates don't happen unless I open the app"
I never receive nearby notifications unless I open the app.

Details:

1. The server is known to work 100% when firebase updates it's location
2. Therefore, firebase isn't being updated unless I open the app.

This leads me to believe that significant updates aren't working.

[2016-05-20 10:21] jcampbell05 commented on #62
I can confirm Significant Updates are working, so maybe firebase isn't updated. This is probably related to https://github.com/Supmenow/sup-issues/issues/41

[2016-05-20 10:22] jcampbell05 commented on #29
The new Firebase SDK should help us reduce this :)

[2016-05-20 10:23] alexsup commented on #62
I thought that might be the case but didn't want to presume.

A useful test is I should instantly get notifications when I come out of the tube in the morning.

[2016-05-20 10:24] alexsup commented on #31
@jcampbell05 Do we need to bump this to 4.6?

[2016-05-20 10:24] alexsup commented on #33
@roger-tan  @jcampbell05 are we planning this for 4.5?

[2016-05-20 10:25] jcampbell05 commented on #62
@alexsup  I better test than that would be:

Given that I am on a good network i.e Wi-Fi, I have just connected after being on airplane mode and the app is terminated
then the app should get a background location update, launch in the background and eventually update firebase with my location.

[2016-05-20 10:25] alexsup commented on #34
@roger-tan @jcampbell05 is this in?

[2016-05-20 10:25] alexsup commented on #35
@jcampbell05 @roger-tan update please

[2016-05-20 10:26] alexsup commented on #37
@jcampbell05 Closing. And moving to Pierre / Danny discusion

[2016-05-20 10:26] #37 closed

[2016-05-20 10:27] alexsup commented on #38
@jcampbell05 Any update?

[2016-05-20 10:27] alexsup commented on #50
@jcampbell05 Is this the same problem with Logentries and Radar and potentially Firebase?

[2016-05-20 10:28] alexsup commented on #51
@jcampbell05 For clarification, they don't get notifications.

[2016-05-20 10:29] jcampbell05 commented on #50
@alexsup Maybe.

[2016-05-20 10:29] alexsup commented on #52
@jcampbell05 I'm getting the impression that this is a core problem. If there is time in 4.5, I'd like a spike.

Otherwise 4.6 please

[2016-05-20 10:31] alexsup commented on #62
@jcampbell05 I don't trust this test.

[2016-05-20 10:35] jcampbell05 commented on #62
@alexsup Well there are a few issues with that situation:
- When developing it I can't go in and out of a tube :P
- What if you came out of the tube and it wasn't instant due to your phone taking a while to get enough speed to transfer data ?
- Log Entries would be a better refection of this as we can track how many significant updates we had followed by a successful firebase write.

[2016-05-20 10:37] jcampbell05 commented on #34
@alexsup  Not yet.

[2016-05-20 10:37] jcampbell05 commented on #35
@alexsup Not yet.

[2016-05-20 10:38] jcampbell05 commented on #31
This is an umbrella tasks, it's hard to say when it should be as it doesn't reference all the other tasks that this task represents.

I'll close this one and just focus on the other tasks.

[2016-05-20 10:38] #31 closed

[2016-05-20 10:42] jcampbell05 commented on #38
https://twitter.com/jcampbell_05/status/732151800653090816

[2016-05-20 10:44] jcampbell05 commented on #33
@alexsup Sure

[2016-05-20 11:04] alexsup commented on #62
@jcampbell05 It's more to do with knowing that the app works in real life like it used to.

To be clear, I expect the behaviour to return to the way it was.

How we get there via tests is up to you.

[2016-05-20 11:05] #38 closed

[2016-05-20 11:06] jcampbell05 commented on #62
@alexsup The best option I think would to hopefully have some sort of Health Metric we can use to monitor how many background updates are correctly being updated.

[2016-05-20 11:07] alexsup commented on #62
@jcampbell05 Sure. Let's focus on this sprint then address issues :)

[2016-05-20 12:12] #33 closed

[2016-05-20 12:47] jcampbell05 commented on #36
Is this for the invite where you tap people and it sends or this is where we share the app ?

[2016-05-20 12:47] jcampbell05 commented on #36
or both.

[2016-05-20 12:47] jcampbell05 commented on #36
@Dannylowney can you make this fit inside a tweet, this is expensive.

[2016-05-20 12:51] #35 closed

[2016-05-20 12:59] jcampbell05 commented on #34
@alexsup  does this old invite screen even make sense to keep? What about just pushing to the new Text based system ?

[2016-05-20 13:14] #34 closed

[2016-05-20 16:54] jcampbell05 commented on #56
@alexsup  Should be fixed in https://github.com/Supmenow/Sup-iOS/pull/980

We probably need to split out the view model for the radar so we have one for the data of the Radar and another which handle the visibility of the user (and maybe location too, although that could become a background service.)

[2016-05-23 08:15] alexsup opened #63 "Change text notifications for Flares"
SMS Invite non-user to see Flare screen:

👋 I'm [activity] in [location]. Come join me! Check my Sup page for the details [link to flare] 🎈

[2016-05-23 08:15] jcampbell05 commented on #41
@alexsup  so was looking at how we designed the radar and I've identified a few ways we can improve the architecture incrementally to simplify and make a better experience.

There is a bug where the UI didn't go back to the loading state when the user becomes visible again, I've fixed this in 4.5 which improves the experience slightly but I think we can still improve it the following ways:

- The

[2016-05-23 08:16] jcampbell05 commented on #63
@alexsup  This going to be a API thing now ?

[2016-05-23 08:16] alexsup commented on #63
@Dannylowney The problem with above is that the term that comes from the app is "Let's get lunch".

It doesn't really fit with above

[2016-05-23 08:17] alexsup commented on #63
@jcampbell05 Yes. It's based off the flare listener :)

See the model for info.

[2016-05-23 08:24] alexsup commented on #41
@jcampbell05 I agree in principle with all of these.

We need to break down and implement priorities into sprint.

[2016-05-23 08:32] jcampbell05 commented on #41
@alexsup I think we can do some of the location stuff next sprint.

[2016-05-23 08:53] alexsup commented on #63
@jcampbell05

[2016-05-23 08:54] alexsup commented on #63
@jcampbell05 Ah, I understand.

Will adjust for back end.

[2016-05-23 08:57] Dannylowney commented on #63
**SMS Invite non-user to see Flare screen:**

[Fname L]: 👋 Let's [activity] at [location]. I'm here now - come along! Check my Sup page for the details [link to flare] 🎈

[2016-05-23 09:23] #60 closed

[2016-05-23 09:24] #59 closed

[2016-05-23 10:30] #56 closed

[2016-05-23 10:31] #61 closed

[2016-05-23 15:17] alexsup opened #64 "The about screen crashes in 4.1"
Given I am in v 4.5
When I tap on settings then about
Then the app crashes

[2016-05-26 14:50] alexsup opened #65 "Items in activity out of time order"
![unnamed 1](https://cloud.githubusercontent.com/assets/13382954/15578738/95eccca6-2359-11e6-97d9-376016be53df.png)

[2016-05-26 14:51] alexsup opened #66 "Nearby users are not on radar but are on flare screen"
![unnamed 2](https://cloud.githubusercontent.com/assets/13382954/15578775/b4d0189e-2359-11e6-9892-d7596fc35ef8.png)

[2016-05-26 14:52] alexsup opened #67 "Letters are too big for circle in create a flare view"
![unnamed 3](https://cloud.githubusercontent.com/assets/13382954/15578818/e6090830-2359-11e6-8073-81a962a7f473.png)

[2016-05-26 14:54] alexsup opened #68 "Radar items outside screen bounds"
![unnamed 4](https://cloud.githubusercontent.com/assets/13382954/15578853/0e88cade-235a-11e6-96ea-7b1cc36e3396.png)

[2016-05-26 14:54] alexsup opened #69 "Radar items behind hangout button"
![unnamed 5](https://cloud.githubusercontent.com/assets/13382954/15578870/1fa2c996-235a-11e6-9435-642ba8cada44.png)

[2016-05-26 14:55] alexsup opened #70 "Remove the "At" word in flare create"
![unnamed 6](https://cloud.githubusercontent.com/assets/13382954/15578892/3a6fe218-235a-11e6-9670-a512b954a730.png)

[2016-05-26 14:56] jcampbell05 commented on #70
Merged into Dev.

[2016-05-26 14:57] alexsup opened #71 "Location can be too long in flare activity"
![unnamed 7](https://cloud.githubusercontent.com/assets/13382954/15578967/86a155ea-235a-11e6-9be4-c1064876d2f5.png)

[2016-05-26 14:58] alexsup opened #72 "Replace Search Bar"
![unnamed 8](https://cloud.githubusercontent.com/assets/13382954/15579001/a88d52a8-235a-11e6-9a88-bb55bfaa3f31.png)

[2016-05-26 14:59] alexsup opened #73 "Internationalisation timings don't work"
![unnamed 9](https://cloud.githubusercontent.com/assets/13382954/15579024/c13a017a-235a-11e6-985c-cd54e3f2e4b2.png)

[2016-05-26 14:59] alexsup opened #74 "Change language of Flare to Sup"
![unnamed 10](https://cloud.githubusercontent.com/assets/13382954/15579060/dfba4c4a-235a-11e6-927f-569a49960edf.png)

[2016-05-26 15:13] alexsup commented on #63
Done :)

[2016-05-26 15:13] #63 closed

[2016-05-26 15:18] alexsup commented on #62
@jcampbell05 pushed to 4.2

[2016-05-26 15:19] alexsup commented on #54
@jcampbell05 fixed in 4.1

[2016-05-26 15:19] #54 closed

[2016-05-26 15:20] alexsup commented on #53
@jcampbell05 Pushed to 4.2

[2016-05-26 15:20] alexsup commented on #14
@jcampbell05 pushed to 4.2

[2016-05-26 15:21] alexsup commented on #36
@Dannylowney Where is this text?

[2016-05-26 15:24] alexsup commented on #58
@jcampbell05 Moved to 4.2

[2016-05-26 15:34] Dannylowney commented on #36
The Master Plan > Message > D148 and D150

On Thu, May 26, 2016 at 4:21 PM, Alex Barton <notifications@github.com>
wrote:

--
Growth ⛏
danny@supmenow.com
+44 7973 954 846

[2016-05-26 15:42] jcampbell05 commented on #64
Fixed in dev

[2016-05-26 15:42] #64 closed

[2016-05-27 10:55] jcampbell05 commented on #69
Let's address this with the new Radar design.

[2016-05-27 10:56] jcampbell05 commented on #68
Let's address this with the new Radar design.

[2016-05-27 10:56] #70 closed

[2016-05-27 11:17] jcampbell05 commented on #39
Pushed to next release

[2016-05-27 11:18] jcampbell05 commented on #22
This no longer a feature, closing.

[2016-05-27 11:18] #22 closed

[2016-05-27 11:18] jcampbell05 commented on #8
We've added an improved UI to explain that a user is hidden.

[2016-05-27 11:18] #8 closed

[2016-05-27 11:42] alexsup opened #75 "Phone book loads slowly with no user feedback in flares"
Rich will mention this :)

[2016-05-27 11:42] alexsup opened #76 "No empty screen when contact permissions are refused."

[2016-05-27 11:42] jcampbell05 commented on #76
@alexsup  which screen is this ?

[2016-05-27 11:44] alexmbarton commented on #76
@jcampbell05 Apologies.

Given I have not allowed contacts permissions
When I am on the radar
And I tap hang out
Then I do not see contacts
And I am not informed that I have not allowed contacts

[2016-05-27 13:11] jcampbell05 commented on #74
Updated in 4.2 https://github.com/Supmenow/Sup-iOS/pull/991

[2016-05-27 14:30] #74 closed

[2016-05-27 17:20] jcampbell05 commented on #41
@alexsup  Implemented one tweak where I have simplified the nearby code, should reduce crashes. I'll profile whats taking the rest of the time.

Hopefully once the location logic is simplified it should be much better.

[2016-05-31 09:49] alexsup opened #77 "Invitation text too long."
The invitation text is too long when inviting a user to join the app.

It's costing us a lot of money 👎

[2016-05-31 09:51] jcampbell05 commented on #77
@alexsup  do we have updated text ?

[2016-05-31 10:34] alexsup commented on #77
@jcampbell05 It's in the master sheet :)

https://docs.google.com/spreadsheets/d/1WC9Z0D0wCqKzFOmzpzts_ZYCn9RcyLvTd5xCTHd7hjM/edit#gid=2108648799

If in doubt speak to Danny

[2016-05-31 10:35] jcampbell05 commented on #77
Will update :D

[2016-05-31 11:10] jcampbell05 commented on #77
Should be fixed in https://github.com/Supmenow/Sup-iOS/pull/995

[2016-05-31 11:32] jcampbell05 commented on #65
I can't seem to recreate this on the latest dev. Potentially this is related to the bug where times are shown weirdly if you are in another time zone (I'm assuming this screenshot is from Rich).

[2016-05-31 11:32] #65 closed

[2016-05-31 11:33] jcampbell05 commented on #51
@alexsup I'm thinking this will be handled when we have a object system and a special node for activity.

[2016-05-31 11:37] jcampbell05 commented on #14
Potentially related to #41

[2016-05-31 14:24] jcampbell05 commented on #66
Should be fixed in latest `dev`

[2016-05-31 14:24] #66 closed

[2016-05-31 14:25] jcampbell05 commented on #14
Seems to be due to slow loading times but new one should hopefully be quicker, closing in favour of #41

[2016-05-31 14:25] #14 closed

[2016-05-31 14:50] jcampbell05 commented on #36
Updated in https://github.com/Supmenow/Sup-iOS/pull/999

[2016-05-31 16:27] jcampbell05 commented on #62
Should be fix in latest dev.

[2016-05-31 16:27] #62 closed

[2016-06-01 10:07] #77 closed

[2016-06-01 10:07] #36 closed

[2016-06-01 10:23] jcampbell05 commented on #67
Will move the view for this to a common component :)

[2016-06-01 10:50] jcampbell05 commented on #72
Implemented in https://github.com/Supmenow/Sup-iOS/pull/1001

[2016-06-01 11:08] #72 closed

[2016-06-01 11:33] jcampbell05 commented on #53
Updated animation https://github.com/Supmenow/Sup-iOS/pull/1002

[2016-06-01 11:33] #53 closed

[2016-06-01 12:31] jcampbell05 commented on #39
@alexsup  Doesn't help with the loading times but we incrementally load the list now, so the user will see the first page before it's fully loaded.

https://github.com/Supmenow/Sup-iOS/pull/1003

[2016-06-01 12:33] jcampbell05 commented on #75
Should be fixed now we have the contacts book load incrementally in #39

[2016-06-01 12:43] #75 closed

[2016-06-01 12:43] #39 closed

[2016-06-02 13:42] #58 closed

[2016-06-06 08:42] alexsup opened #78 "Activity / location / photo lose state when returning to invitees"
Given I have chosen friends to send the flare to
And I have chosen an activity, location and photo
When I return to change the users selected
And I return to the flare screen
Then It forgets the activity, location and photo

[2016-06-06 08:44] alexsup opened #79 "iPhone 5 layout is broken on create a flare"

[2016-06-06 08:44] alexsup opened #80 "Repeatedly tapping hide breaks the system"
![unnamed 11](https://cloud.githubusercontent.com/assets/13382954/15816580/4b7ddafa-2bcb-11e6-8c68-93cc37281d32.png)

[2016-06-06 08:46] alexsup opened #81 "Frame Rate Drops On Activity List."
Perhaps a poor implementation of data into a table?

Also should we put a time limit on it?

[2016-06-06 09:42] jcampbell05 commented on #81
Mainly due to implementation, it could be optimised.

[2016-06-06 09:48] jcampbell05 commented on #40
This feature was removed in 4.2 with the removal of chat.

[2016-06-06 09:48] #40 closed

[2016-06-06 10:39] jcampbell05 commented on #76
Should be fixed in 4.3

[2016-06-06 10:39] #76 closed

[2016-06-06 15:39] jcampbell05 commented on #68
Should be fixed in dev.

[2016-06-06 15:39] #68 closed

[2016-06-06 15:39] jcampbell05 commented on #69
Should be fixed in dev.

[2016-06-06 15:39] #69 closed

[2016-06-06 15:40] jcampbell05 commented on #52
I wasn't able to recreate this in 4.3 so far but I'll keep an eye out.

[2016-06-06 16:42] alexsup commented on #52
@jcampbell05 Shall we keep this open?

[2016-06-06 16:42] alexsup commented on #51
@jcampbell05 Yes.

[2016-06-06 16:43] alexsup commented on #50
@jcampbell05 Any update?

[2016-06-06 16:43] alexsup commented on #49
@jcampbell05 is this still an issue?

[2016-06-06 16:44] alexsup commented on #21
@jcampbell05 Surely this isn't an issue...

[2016-06-06 16:44] alexsup commented on #12
@jcampbell05 Still nothing.

[2016-06-06 16:48] jcampbell05 commented on #49
@alexsup  Yes, won't be one that we can solve in one go, it is a lot faster since we remove chat.

[2016-06-06 16:48] jcampbell05 commented on #52
@alexsup  yes for now, we can close it in a couple of weeks once 4.2 and 4.3 are in the app store to see if we still get it.

[2016-06-06 16:54] roger-tan commented on #67
Should be fixed in PR [#1024](https://github.com/Supmenow/Sup-iOS/pull/1024)

[2016-06-06 21:27] jcampbell05 commented on #21
@alexsup  what do you mean ?

[2016-06-06 21:27] jcampbell05 commented on #50
@alexsup  I haven't seen it in a while so maybe it was a one off during testing ?

[2016-06-07 08:06] alexsup commented on #50
@jcampbell05 I'm archiving this. We can reopen if we see it again

[2016-06-07 08:06] #50 closed

[2016-06-07 08:07] alexsup commented on #21
@jcampbell05 This should be in Jira not here :)

Closing

[2016-06-07 08:07] #21 closed

[2016-06-07 08:11] alexsup commented on #67
👍
Closing

[2016-06-07 08:11] #67 closed

[2016-06-07 08:11] alexsup commented on #52
👍 Closing.

[2016-06-07 08:11] #52 closed

[2016-06-07 08:12] alexsup commented on #49
@jcampbell05 Ok, let's move to Jira.

Closing

[2016-06-07 08:12] #49 closed

[2016-06-07 16:47] roger-tan commented on #73
Now, we are using the UTC Time and not Local time to display the time. So it should be always a minutes ago.

[2016-06-07 16:54] #73 closed

[2016-06-08 08:52] alexsup commented on #81
@roger-tan Can you have a look at this?

[2016-06-08 08:55] roger-tan commented on #81
I'm going to look now!

[2016-06-08 08:57] alexsup opened #82 "Remove friends on sup in invite friends"
Given I'm on the radar
When I click on Invite friends
Then I should not see friends I've already invited

It doesn't belong there.

[2016-06-08 08:57] alexsup commented on #82
@roger-tan 👍

[2016-06-08 09:08] alexsup opened #83 "Prompt for get directions when I click on the map."
Given I'm on a flare preview
When I click on the map
Then I should get a pop up for directions

Same behaviour as clicking on directions

[2016-06-08 09:10] alexsup opened #84 "Sent to avatars are too close together on flare preview"
![unnamed 12](https://cloud.githubusercontent.com/assets/13382954/15888997/36037ca6-2d61-11e6-8dc0-55c2c0593a44.png)

[2016-06-08 09:12] jcampbell05 commented on #83
@alexsup I'm not sure if this makes sense:

- Some uses expect a double-tap to zoom.
- Some users expect a tap on the map to expand.

[2016-06-08 09:13] alexsup opened #85 "Message button should prompt share sheet"
Given I am on a user profile
When I click on message
Then the share sheet should pop up.

![unnamed 13](https://cloud.githubusercontent.com/assets/13382954/15889087/94d0013c-2d61-11e6-9189-2a96d5ec80a6.png)

[2016-06-08 09:14] alexsup opened #86 "Radar taking a long time to download avatars"
The following image was taken 30 seconds after the app was opened.

![unnamed 14](https://cloud.githubusercontent.com/assets/13382954/15889119/b72e3f64-2d61-11e6-8443-b5b0232952be.png)

[2016-06-08 09:14] alexsup commented on #12
@jcampbell05 I'm closing this.

[2016-06-08 09:14] #12 closed

[2016-06-08 09:16] alexsup commented on #83
@jcampbell05 This should happen as per flinto.

Ask Pierre for details.

[2016-06-08 09:19] alexsup opened #87 "Odd behaviour from an investor"
I've enclosed a screenshot - basically the bottom nav just changed & I've just closed & opened the app twice and wasn't getting any click through, neither from the bottom nav nor from the top nav. Having said this, it's working again now. I'm wondering whether it's worth adding in a short message when this happens saying 'oops, please close & re-open the app' or something similar, ensuring users d

[2016-06-08 09:29] jcampbell05 commented on #86
This isn't due to the image download speeds the library for the radar view currently renders a snapshot, I've forked it an tweaked it to use the live view.

[2016-06-08 09:29] #86 closed

[2016-06-08 09:33] jcampbell05 commented on #83
Okay the Flinto is different than what this issue describes, so I'll close this.

[2016-06-08 09:33] #83 closed

[2016-06-08 10:48] jcampbell05 commented on #87
@alexsup  so the app was frozen ?

[2016-06-08 10:59] jcampbell05 commented on #80
@alexsup this should be fixed in my branch.

[2016-06-08 11:00] #80 closed

[2016-06-09 17:23] roger-tan commented on #82
I think, it's already implemented from PR [#1047](https://github.com/Supmenow/Sup-iOS/pull/1047) but needs optimization to load much faster.

[2016-06-09 17:35] #82 closed

[2016-06-09 17:36] jcampbell05 commented on #3
Potentially fixed with our Digits tweak.

[2016-06-10 11:55] #81 closed

[2016-06-10 12:01] jcampbell05 opened #88 "Make distance of User on Radar depend on Location Node distance not user profile distance."
Currently if user profile is cached with old location they can be further out than the radar data tells us they are, hence discrepancy between the profile and radar.

We could wrap them in an object like so:

`RadarObject(item: User, distance: 200)`

Especially when we move to the new Radar API the distance of a user should be based on the distance from their location node. When we add flares we w

[2016-06-10 12:03] jcampbell05 opened #89 "Improve feedback whilst we are updating radar."
When we have a new location but are updating users we should have some feedback that the current users are out of date and we are currently updating.

i.e a pulsating centre user ?

[2016-06-10 12:05] jcampbell05 opened #90 "Look into background fetch for Radar."
When we implement new Radar API we should look into being able to update the radar for the user when we get notifications, location updates and for opportunistic updates in the background.

That way when user opens radar it already has the users nearby without a delay since it has already fetched the content beforehand.

[2016-06-13 10:40] alexsup commented on #90
@jcampbell05 moving from issues.

Not an issue.

[2016-06-13 10:40] #90 closed

[2016-06-13 10:48] alexsup commented on #89
@roger-tan Can you let me know your ideas for this?

[2016-06-13 10:49] alexsup commented on #87
@jcampbell05 Closing due to lack of informaiton

[2016-06-13 10:49] #87 closed

[2016-06-13 10:50] alexsup commented on #85
@jcampbell05 This is new functionality. Moving to Trello

[2016-06-13 10:52] #85 closed

[2016-06-13 10:54] alexsup commented on #55
@jcampbell05 Moving to Jira

[2016-06-13 10:54] #55 closed

[2016-06-13 11:00] alexsup commented on #29
@jcampbell05 @roger-tan moved to Jira. Not an issue.

[2016-06-13 11:00] #29 closed

[2016-06-17 09:15] alexsup commented on #88
@jcampbell05 This is not an issue. Closing

[2016-06-17 09:15] #88 closed

[2016-06-17 09:16] alexsup commented on #84
@roger-tan Has this been fixed?

[2016-06-17 09:16] alexsup commented on #79
@roger-tan Has this been fixed?

[2016-06-17 09:16] alexsup commented on #78
@roger-tan Does this have state yet?

[2016-06-17 09:17] alexsup commented on #71
@roger-tan Has this been looked at?

[2016-06-17 09:17] alexsup commented on #3
@jcampbell05 Closing due to no further feedback.

[2016-06-17 09:17] #3 closed

[2016-06-17 09:31] roger-tan commented on #79
It should be fixed.

[2016-06-17 09:32] roger-tan commented on #78
Not yet

[2016-06-17 09:32] alexsup commented on #79
@roger-tan Great :) Closing

[2016-06-17 09:32] #79 closed

[2016-06-17 09:34] roger-tan commented on #84
No.

[2016-06-20 09:04] alexsup opened #91 "Localisation time issues."
Even BST is incorrect.

![unnamed 15](https://cloud.githubusercontent.com/assets/13382954/16188625/5f162c3a-36ce-11e6-9db5-5a9642f7b40d.png)

[2016-06-20 10:15] alexsup opened #92 "Contacts empty screen prompt buttons the wrong way round"
Given I have no contacts
When I click allow contacts
Then I get a how-to alert
And the buttons are the wrong way round

![unnamed 16](https://cloud.githubusercontent.com/assets/13382954/16190898/7503ec48-36d9-11e6-900b-82c2e71a2c7c.png)

[2016-06-20 16:22] alexsup opened #93 "Finding contacts animation is off brand"
Given I am asked to allow contacts
And to upload to digit
When I tap accept
Then I see the bouncing ball
And I see the first string zoom in
And it is nothing like our brand.

@roger-tan we should replace with a simple fade in.

Then fade out, wait, fade in for the next string

[2016-06-21 08:30] alexsup opened #94 "[EXTERNAL] Digits country code error"
Hi there
I've encountered a bug that's stopping me signing in, so you'll probably want to fix this asap...

After signing in with Facebook on my iPhone, I get the 'What's your phone number?' page, which is set to Australia +61. I can't change this to UK, and it doesn't recognise my UK number in this format, so I can't get the confirmation code. :(

Look forward to your reply,
Caroline

[2016-06-21 08:31] alexsup commented on #94
@jcampbell05 @roger-tan I've asked Caroline to provide us with a screenshot of the digits screen.

We're also to keep her updated 💯

[2016-06-21 08:44] alexsup commented on #94
![unnamed 17](https://cloud.githubusercontent.com/assets/13382954/16223350/bf7c0182-3794-11e6-8f9d-6f24f5ab289a.png)

[2016-06-21 08:56] alexsup commented on #94
@jcampbell05 @roger-tan

The reply:

Ah! Yes, I had no idea I needed to do that - but all working now.

Can I suggest you don't have it set to Australia as default? I'm an app founder myself and tapping to change the code didn't even cross my mind (unless it's just me being stupid, of course!)

Anyway, I look forward to exploring the app and wish you the best of luck with it!
Caroline

[2016-06-21 09:01] jcampbell05 commented on #94
Yeah I always thought the way digits switched country codes wasn't obvious.

[2016-06-21 10:42] alexsup commented on #94
@jcampbell05 @roger-tan closing

[2016-06-21 10:42] #94 closed

[2016-06-21 10:42] alexsup opened #95 "Logo on about screen is incorrect."
Given I am on settings screen
When I click on about
Then I see the wrong logo

It should be in line with our branding.

[2016-06-21 16:41] jcampbell05 commented on #95
@alexsup The about screen is white, do we have a logo that works on light backgrounds ?

[2016-06-23 09:22] alexsup commented on #95
@jcampbell05 The red one

[2016-06-23 13:47] alexsup opened #96 "Users cannot be blocked from the friends list."
Given I am on friends list
When I look at a friend
I cannot block them

[2016-06-23 13:49] alexsup opened #97 "A user without a phone number = poor user experience"
Given I am on the radar
When I click on a user
And they don't have a phone number
And I click on text / call
Then there is no feedback
And it feels like it is broken

[2016-06-27 17:13] jcampbell05 commented on #97
Implementing an alert which is shown when a user tries to communicate with a user without a phone number.

[2016-06-28 08:46] #97 closed

[2016-06-28 08:52] jcampbell05 opened #98 "Nearby Notification triggered sparadically."
From a user
"(Sup) Only alerting you when other SUP users are nearby sporadically. i.e. Taylor and I met up 3 different times at 3 different places and neither of us got a SUP notification that the other was nearby until we were in the Uber home after the 3rd meet up."

[2016-06-28 08:52] jcampbell05 opened #99 "Flares not being delivered."
From a User
"SUP hangout requests are not being delivered. (Multiple girls tried to send hangout requests that have just disappeared). "

[2016-06-28 08:53] jcampbell05 opened #100 "Flare notifications not being triggered."
From a User
"SUP hangout requests show up under “activity”, but have never received a notification. "

[2016-06-28 08:53] jcampbell05 opened #101 "Users not on radar after nearby notification"
From User
"After notification that a friend is nearby, open the app and those people are NOT on the radar. "

[2016-06-28 08:53] jcampbell05 opened #102 "Hangout screen shows all users when none are nearby"
From User
"When no friends are on the radar, and you click “Hangout” to invite someone - it shows ALL friends, not just those on SUP. No way to filter this list to just SUP users - which makes it difficult when you have 6k contacts in your phone"

[2016-06-28 08:54] jcampbell05 commented on #102
Will discuss with Rhys when he arrives Wednesday

[2016-06-28 08:54] jcampbell05 opened #103 "Large amount of push notifications being sent."
From the user.
"Lastly, see the screenshots below. I woke up to around 50 push notifications from the APP. (This is the first time this has happened, not sure what the notifications are for)."

[2016-06-28 10:19] jcampbell05 opened #104 "Combine Friends, Invite and Blocked List"
So our UI ends up like this and we have one unified UI:

[code]

[2016-06-28 10:27] Dannylowney commented on #104
I like it 👍

[2016-06-28 14:23] jcampbell05 commented on #51
No longer global as of 4.4

[2016-06-28 14:23] #51 closed

[2016-06-28 16:19] jcampbell05 commented on #92
Should be fixed in 4.4

[2016-06-28 16:19] #92 closed

[2016-06-28 16:40] #96 closed

[2016-06-28 16:48] #103 closed

[2016-06-28 16:48] jcampbell05 commented on #103
User was on old version of the app

[2016-06-29 09:31] jcampbell05 commented on #71
@alexsup Will ask Rhys what he would do in this case - Shrink text or word-wrap it

[2016-06-29 09:32] jcampbell05 commented on #89
@alexsup  There is a new design for this, next sprint we should implement the avatar in the middle of the radar. I think there is a pulse effect when updating.

[2016-06-29 09:38] #95 closed

[2016-06-29 10:16] #93 closed

[2016-06-29 10:20] jcampbell05 opened #105 ""AWWW REALLY" text in incorrect position."
On dev for some reason it is in the wrong location rather than where it is in the storyboard.

[2016-06-29 10:50] #105 closed

[2016-06-29 11:02] jcampbell05 commented on #99
Cannot recreate.

[2016-06-29 11:02] #99 closed

[2016-06-29 14:31] jcampbell05 opened #106 "List of people invited to a flare on the create a flare screen should take you back"
Fixes https://github.com/Supmenow/sup-ios-issues/issues/106

[2016-06-29 14:32] jcampbell05 opened #107 "Radar empty state not always updating."

[2016-06-29 16:03] #106 closed

[2016-07-04 09:23] jcampbell05 opened #108 "User can accidentally tap location on flare and open up the map."
We should probably remove the tap on the flare location feature.

[2016-07-04 09:24] jcampbell05 opened #109 "Can we auto-fill the share to Facebook Messenger Text"
Danny would like for us to see if this is possible.

[2016-07-04 09:24] jcampbell05 opened #110 "Facebook Messenger Share Icon is wrong"
The preview image for sharing to facebook messenger is wrong, we should check the open graph data.

[2016-07-04 09:25] jcampbell05 opened #111 "Radar is cutoff when you zoom"
![image](https://cloud.githubusercontent.com/assets/1484989/16556380/96dd4988-41d1-11e6-99a0-d85d11e42c90.png)

[2016-07-04 09:26] jcampbell05 opened #113 "Make invite show users randomly."
Rich would like the names of users to invite to be random.

[2016-07-04 09:27] jcampbell05 opened #114 "List of users to invite resets every time we open the app."
Rich would like for us to keep track of where we last were in the list, potentially the server could handle this.

But I think this issue is moot if we fix #113 and #112

[2016-07-04 09:28] jcampbell05 opened #115 "Users do not wish to login via Facebook"
Users would like an alternative method to login.

We have started implementing a login process with Digits instead.

[2016-07-04 09:29] alexsup commented on #101
@jcampbell05 As far as I am aware, this is a simple process.

I am much more confident in the new API and would like to switch as soon as possible

[2016-07-04 09:30] jcampbell05 commented on #101
@alexsup Cool I'll be doing some work on the Radar this sprint so I can look into background updates :)

[2016-07-04 10:32] alexsup opened #116 "Mixpanel "Sup Friends" property being saved as a string not an integer"
You can see this by mixpanel -> segmentation -> sup friends -> it will have A next to the name rather than 1
@roger-tan Please cast to integer :)

Thanks

[2016-07-04 10:37] alexsup commented on #110
@jcampbell05 these are separate issues.

[2016-07-04 10:37] jcampbell05 commented on #110
This is one issue @alexsup

[2016-07-04 11:01] #113 closed

[2016-07-04 11:03] alexsup commented on #110
@jcampbell05 Splitting out preview image to new issue for web.

[2016-07-04 11:27] roger-tan commented on #116
No need to cast to integer. Just need to change the type on MixPanel by doing like this

<img width="483" alt="screenshot 2016-07-04 12 26 03" src="https://cloud.githubusercontent.com/assets/3829527/16559118/898b52be-41e2-11e6-93fb-1e02798b6049.png">

[2016-07-04 11:40] alexsup commented on #116
@roger-tan Reopened.

[2016-07-04 11:42] alexsup commented on #116
@roger-tan For danny, this needs to be a number I'm afraid...

https://mixpanel.com/docs/properties-or-segments/property-data-types

I'm sure there's a way 👍

[2016-07-04 13:35] roger-tan commented on #116
It's already casted as Integer or NSNumber. There is no solution except the casting option providing from MixPanel UI.

<img width="277" alt="screenshot 2016-07-04 14 34 05" src="https://cloud.githubusercontent.com/assets/3829527/16562291/7b65e444-41f4-11e6-9cb3-eab76e5f1598.png">

[2016-07-04 14:01] jcampbell05 commented on #107
Fixed in `dev`

[2016-07-04 14:01] #107 closed

[2016-07-04 14:31] #111 closed

[2016-07-04 16:00] roger-tan opened #117 "Prompt a message if we try to invite a user for the first time"
If I click for the button to invite someone for the first time, we should alert the user about the behavior!

[2016-07-04 16:46] #91 closed

[2016-07-04 16:46] jcampbell05 commented on #117
@Dannylowney ?

[2016-07-04 16:49] Dannylowney commented on #117
@roger-tan what do you mean? why should we? how might it look?

[2016-07-04 16:51] roger-tan commented on #117
When you are in radar and you see a list of contacts. We should get an alert when they press + Button to add a friends on Sup that we are going to send a text message on behalf of the user.

[2016-07-04 17:43] roger-tan commented on #84
Should be fixed here (https://github.com/Supmenow/Sup-iOS/pull/1212)

[2016-07-05 08:30] #84 closed

[2016-07-05 10:05] jcampbell05 commented on #114
@alexsup I think since the list is randomised now this no longer makes sense, since we can just show a different user each time the app is re-opened.

[2016-07-05 10:05] #114 closed

[2016-07-05 10:37] jcampbell05 commented on #89
Fixed so we show loading state whilst updating, will talk to Rhys about getting a better design.

[2016-07-05 10:37] #89 closed

[2016-07-05 10:37] alexsup commented on #114
@jcampbell05 @roger-tan Let's leave this as randomised.

Is it truly randomised?

[2016-07-05 10:38] roger-tan commented on #114
Yes, it's randomized!

[2016-07-05 10:38] jcampbell05 commented on #114
@alexsup As random as our 21st century computer chips allow us to be.

[2016-07-05 11:03] jcampbell05 commented on #100
Verified that this works - User was on an older version. @roger-tan  we should bump google tag manager  so users have to be on 4.4 or above.

[2016-07-05 11:03] #100 closed

[2016-07-05 15:12] roger-tan commented on #116
Because it's always incremented, so MixPanel know that it's a Integer. Sup
Friends cannot be incremented.

On Tue, Jul 5, 2016 at 3:01 PM Alex Barton <notifications@github.com> wrote:

--
*___________________________________*
Roger TAN⎥Mobile Software Engineer
roger@supmenow.com⎥supmenow.com <https://supmenow.com/home-page-b/>
Sup

Runway East
10 Finsbury Square London
EC2A 1AF

[2016-07-06 09:09] alexsup commented on #101
@jcampbell05 Can you update this issue with your information

[2016-07-06 09:18] jcampbell05 commented on #98
User was on an older version of the App but will verify this works on latest version of the app.

[2016-07-06 09:22] alexsup commented on #98
@jcampbell05 Great. Thanks dude.

[2016-07-06 09:24] roger-tan commented on #115
We already started to implement to get a different provider to use Sup. [https://github.com/Supmenow/Sup-iOS/pull/1215](Digitsl)

[2016-07-06 09:27] alexsup commented on #115
@jcampbell05 @roger-tan This is closed due to not being a priority.

It is part of a future sprint and requires careful planning and thought as it requires a backend implementation (AKA you guys using the API), design and Android.

[2016-07-06 09:27] #115 closed

[2016-07-06 09:29] alexsup commented on #117
@jcampbell05 @roger-tan @Dannylowney This is not an issue.

Closing.

[2016-07-06 09:29] #117 closed

[2016-07-06 09:31] roger-tan commented on #109
https://developers.facebook.com/docs/sharing/ios/send-button could be a solution?

[2016-07-06 09:31] alexsup commented on #117
@roger-tan Please move to trello :)

[2016-07-06 09:31] alexsup commented on #116
@roger-tan please contact mix panel to ask how to fix this :)

[2016-07-06 09:32] alexsup commented on #109
@jcampbell05 @roger-tan not an issue.

This is a feature. Closed.

Please don't get dragged into to scope creap by disguising them as issues.

[2016-07-06 09:32] #109 closed

[2016-07-06 09:34] alexsup commented on #104
@jcampbell05 @Dannylowney not an issue.

A feature. Closed.

Please move to to Trello / Jira backlog if you would like actioned.

We can build into future sprints post designer.

[2016-07-06 09:34] #104 closed

[2016-07-06 09:35] alexsup commented on #71
@jcampbell05 great idea.

@Dannylowney can you add this to Rhys questions?

[2016-07-06 09:36] alexsup commented on #78
@jcampbell05 @roger-tan Any movement on this?

Closing as not an issue. More a feature.

[2016-07-06 09:36] #78 closed

[2016-07-06 09:37] alexsup commented on #98
@jcampbell05 new API will fix this.

[2016-07-06 09:38] alexsup commented on #102
@jcampbell05 edge case.

Friend UI needs fixed

@Dannylowney Please add this to your list for Rhys.

Closing. Move to Jira after Rhys

[2016-07-06 09:38] #102 closed

[2016-07-06 09:39] alexsup commented on #108
@jcampbell05 Just remove from flare.

Simple fix :)

[2016-07-06 09:40] jcampbell05 commented on #101
So from the perspective of the user the Radar doesn't match up with their expectation of what they believe they should see, this means the following:

- They get a notification of who's nearby, they open the app and they can't find them.
- They open the app and it appears as if it thinks they are in another location.

I believe we can fix it the following way (Some are already implemented):

- Bet

[2016-07-06 09:42] Dannylowney commented on #71
done

[2016-07-06 09:48] alexsup commented on #101
@jcampbell05 I think the solution to this is the API.

Both from who's nearby and the activity API.

We should start with the activity API as it's the least intrusive.

[2016-07-06 09:51] jcampbell05 commented on #101
@alexsup  API will defiantly be the longer-term solution but will need for me to tweak the infrastructure a little.

What do you mean less intrusive?

I don't think it matters which we do first, implementing the actual API calls etc is the easy bit :)

[2016-07-06 09:54] alexsup commented on #101
@jcampbell05 Less intrusive as less changes your end (assumed) and provides a useful "last seen" information.

I'd love to trigger a badge for nearby notifications too.

[2016-07-06 09:56] jcampbell05 commented on #102
@alexsup  I think we could just simplify it all by making it list all friends in distance order (people not on sup at the bottom).

We should allow users to search list.

On the radar we should allow users to tap on a users profile and start a hangout with them directly.

In addition I think we could combine the invite screen, friends and blocked users list into one Friends Screen and replace the

[2016-07-06 09:59] jcampbell05 commented on #101
@alexsup I think the main bulk of the work will be setting up a proper API infrastructure. Switching the firebase calls to API ones after that should be easy.

Then after we've done that there will be more infrastructure work to add in background fetches to actually solve the original problem. (Until then these API calls would potentially just be tweaks with minor performance gains due to us norma

[2016-07-06 10:07] jcampbell05 commented on #101
Also API removes need for app to pull down everyone and then filter so will be much faster :)

[2016-07-06 10:19] jcampbell05 commented on #104
@alexsup  I think we should do this but I'll talk to Rhys :)

[2016-07-06 10:19] jcampbell05 commented on #108
@alexsup Yup will implement this sprint :)

[2016-07-06 13:01] jcampbell05 commented on #98
@alexsup We should intergration test this then I will close as I think the user was on an older version.

[2016-07-06 13:06] alexsup commented on #98
@jcampbell05 we can only do this manually.

It all tests my end.

[2016-07-06 13:43] jcampbell05 commented on #98
I would like to do this manually :) are you able to trigger your profile entering Runway east and getting a notification by removing and adding your location ?

[2016-07-11 09:36] alexsup opened #118 "Can we improve this loading UI?"
This is really odd.

Surely there shouldn't be irrelevant data on the screen when loading?

![unnamed 19](https://cloud.githubusercontent.com/assets/13382954/16726261/3a1c9fd2-4753-11e6-8a45-88f9e2704730.png)

[2016-07-11 09:38] jcampbell05 commented on #118
So your issue is ?

[2016-07-11 09:39] alexsup commented on #118
It's shit

[2016-07-11 09:39] alexsup commented on #118
It's shit

*___________________________________*

*Alex⎥CTO*

*alex@supmenow.com <alex@supmenow.com>⎥supmenow.com <http://supmenow.com/>*

*Sup*

*Runway East *

*10 Finsbury Square*

*London*

* EC2A 1AF *

On Mon, Jul 11, 2016 at 10:38 AM, James Campbell <notifications@github.com>
wrote:

[2016-07-11 09:42] jcampbell05 commented on #118
What exactly do you want to change improve ?  Good examples include "I can't see the user's name" or "this is squashed on a small screen" or "this is being shown before the contacts have loaded".

I don't know how you want me to improve it or what the irrelevant data you speak of is or why it's bad :)

I also need some context as to if you disallowed things such as access to contacts :).

[2016-07-11 09:54] alexsup commented on #118
When a loading screen is present, why would it have irrelevant information?

1. What is 25 mins away? Nothing. Why is it here? Because we didn't design for it. Shouldn't be here while screen is loading. Perhaps fade in post nearby load. Or is replaced with no one nearby and doesn't show.

2. Add friends to the radar? This makes no sense. Unless the user has no contacts? Under what circumstances is

[2016-07-11 10:43] jcampbell05 commented on #118
@alexsup okay could we move those into two individual issues and carry the conversation on there.

For now I am closing this.

[2016-07-11 10:43] #118 closed

[2016-07-11 15:42] jcampbell05 opened #119 "Friends don't show up in App if you add them on facebook or to your contracts book after login."
In the future we will figure out a new flow to automatically add these people.

[2016-07-12 09:27] jcampbell05 opened #120 "When loading we should hide distance label"
Feedback from @alexsup:

What is 25 mins away? Nothing. Why is it here? Because we didn't design for it. Shouldn't be here while screen is loading. Perhaps fade in post nearby load. Or is replaced with no one nearby and doesn't show.

![image](https://cloud.githubusercontent.com/assets/1484989/16762144/266c3c04-481b-11e6-83f7-c97d00d1b86f.png)

[2016-07-12 09:27] jcampbell05 opened #121 ""Add friends to radar" is shown without contact."
Feedback from @alexsup

Add friends to the radar? This makes no sense. Unless the user has no contacts? Under what circumstances is this triggered?

![image](https://cloud.githubusercontent.com/assets/1484989/16762156/3475e2c8-481b-11e6-8a3b-321600c85dfe.png)

[2016-07-12 09:29] jcampbell05 opened #122 "Add "Let's" Verb Before Flare Activity In French"
Add "Let's" Verb Before Flare Activity In French

Here is the sheet for the list of flares:

https://docs.google.com/spreadsheets/d/1YRV99PZWBOhVDHNUqPWm-3CcAzjd7D4fxcvHgG-7cUw/edit#gid=506566256

![image](https://cloud.githubusercontent.com/assets/1484989/16762186/53f6a89e-481b-11e6-89de-bc193fd89710.png)

[2016-07-12 09:29] jcampbell05 opened #123 "Loading State still shows loading text in English"
![image](https://cloud.githubusercontent.com/assets/1484989/16762221/801d7c2c-481b-11e6-8fde-6fcf9ad215df.png)

[2016-07-12 09:30] jcampbell05 opened #124 "Distance Label isn't accurate to Radar Zoom Level"
Users that are 5 minutes away can no longer be right in the middle of the Radar so we should tweak it so people just out side of this ring are shown as being up to 5 minutes away

![image](https://cloud.githubusercontent.com/assets/1484989/16762240/950eb196-481b-11e6-8ded-e1e98c12f88c.png)

[2016-07-12 09:30] jcampbell05 opened #125 "Create a sup title not translated."
![image](https://cloud.githubusercontent.com/assets/1484989/16762266/af74c642-481b-11e6-8d1a-0aa4514a68bd.png)

[2016-07-12 09:31] jcampbell05 opened #126 "Choose a location not translated"
![image](https://cloud.githubusercontent.com/assets/1484989/16762277/c0100138-481b-11e6-8a68-717c0d938663.png)

[2016-07-12 09:32] jcampbell05 opened #127 "No feedback for when the user is invisible"
![image](https://cloud.githubusercontent.com/assets/1484989/16762304/e4c3d0ea-481b-11e6-8720-5854060cba70.png)

[2016-07-12 09:32] jcampbell05 opened #128 "Title for on-boarding screen may be too long in French"
![image](https://cloud.githubusercontent.com/assets/1484989/16762313/f09d65e8-481b-11e6-899e-9d323193752a.png)

[2016-07-12 09:33] jcampbell05 opened #129 "Missing Invite Text In French"
![image](https://cloud.githubusercontent.com/assets/1484989/16762345/032c5502-481c-11e6-9a19-5e477248401a.png)

[2016-07-12 09:33] jcampbell05 opened #130 "Repetition of text in distance label for French"
![image](https://cloud.githubusercontent.com/assets/1484989/16762372/1f3d48a0-481c-11e6-9d6d-d2339a4eee35.png)

[2016-07-12 09:34] jcampbell05 opened #131 "Empty state text too long in french"
![image](https://cloud.githubusercontent.com/assets/1484989/16762389/2aff9224-481c-11e6-80d4-caf552e2477b.png)

[2016-07-12 09:34] jcampbell05 opened #132 "Erronious error when creating a Sup"
We need to look into what condition causes this

![image](https://cloud.githubusercontent.com/assets/1484989/16762406/3ba8f0ac-481c-11e6-97af-9380280ed33d.png)

[2016-07-12 09:40] alexsup commented on #119
@jcampbell05 This is an API thing I think :)

[2016-07-12 09:41] alexsup commented on #120
@jcampbell05 Initially reported through buglife

[2016-07-12 09:41] jcampbell05 commented on #119
@alexsup  For sure we will plan this out in the relevant sprint :)

[2016-07-12 09:42] alexsup commented on #122
@jcampbell05 This is an in app change isn't it?

[2016-07-12 09:44] jcampbell05 commented on #122
@alexsup  Nope this is a resource file change, we just need the spreadsheet linked above to be updated by @roger-tan  or @juliensup or someone else who Parler en Français

[2016-07-12 09:53] jcampbell05 commented on #130
Seems to be fixed in `dev`

[2016-07-12 09:54] #130 closed

[2016-07-12 10:13] #123 closed

[2016-07-12 11:16] #108 closed

[2016-07-12 11:33] jcampbell05 commented on #116
Whats the latest on this ?

[2016-07-12 11:33] roger-tan commented on #116
Moved to "Sup Friends" to "Friends"

[2016-07-12 11:34] #116 closed

[2016-07-12 11:36] jcampbell05 commented on #129
Fixed in `dev`

[2016-07-12 11:36] #129 closed

[2016-07-12 12:41] jcampbell05 commented on #122
Fixed in https://github.com/Supmenow/Sup-iOS/pull/1249/files

[2016-07-12 12:50] #126 closed

[2016-07-12 13:00] #125 closed

[2016-07-12 13:00] #122 closed

[2016-07-12 14:11] jcampbell05 commented on #131
Fixed in `dev`.

[2016-07-12 14:11] #131 closed

[2016-07-12 14:12] jcampbell05 commented on #128
Fixed in `dev`.

[2016-07-12 14:12] #128 closed

[2016-07-13 08:54] jcampbell05 commented on #101
https://www.buglife.com/apps/sup/reports/221 - Another report of this issue.

[2016-07-13 08:54] jcampbell05 commented on #121
https://www.buglife.com/apps/sup/reports/222

[2016-07-13 11:27] roger-tan commented on #127
Fixed

[2016-07-13 11:27] #127 closed

[2016-07-13 14:20] jcampbell05 commented on #121
@roger-tan  I think this is shown when user doesn't give permission to contacts :)

[2016-07-13 14:26] jcampbell05 commented on #124
@alexsup @Dannylowney   Should we get rid of this label ?
- We need to calibrate it to the radar so its accurate to how far users are.
- Eats up space for iPhone 4 Users.
- Having to tweak it to be hidden when the radar is loading.
- Does it add value? Would it be less creepy not to have this ?

[2016-07-13 15:06] Dannylowney commented on #124
I don't think we should get rid of it.

Most don't have friends, so if they zoom in and out, it won't be clear what
is happening.

Danny

On Wed, Jul 13, 2016 at 3:26 PM, James Campbell <notifications@github.com>
wrote:

--
Growth Lead ⛏
danny@supmenow.com
+44 7973 954 846

[2016-07-13 15:16] jcampbell05 commented on #120
Should be fixed in https://github.com/Supmenow/Sup-iOS/pull/1258

[2016-07-13 15:19] #120 closed

[2016-07-14 13:04] jcampbell05 commented on #121
Initial fix in https://github.com/Supmenow/Sup-iOS/issues/1261 but just waiting to see if this fix is desired.

[2016-07-14 13:05] jcampbell05 commented on #124
@Dannylowney  cool I'll tweak the metrics in that case.

[2016-07-14 14:17] jcampbell05 commented on #121
@alexsup Danny will update this with better copy to explain what this is when the user disables contacts.

[2016-07-14 14:17] #121 closed

[2016-07-14 14:35] jcampbell05 commented on #110
I think Rhys will be designing an icon for this when he has some time cc/ @Dannylowney

[2016-07-14 15:42] jcampbell05 opened #133 "Icon should also be tappable (as well as plus icon) to back to friends selection"
![image](https://cloud.githubusercontent.com/assets/1484989/16845725/db4b48c8-49e1-11e6-861d-8ab5f4ae9e47.png)

[2016-07-14 15:42] jcampbell05 opened #134 "+ button should be equal size to photo/initials icons and space should be equidistant."
![image](https://cloud.githubusercontent.com/assets/1484989/16845748/e990784a-49e1-11e6-84ed-ec57e902152f.png)

[2016-07-14 15:43] jcampbell05 opened #135 "If I select friend/s and go back to add more, previous selection is removed"
![image](https://cloud.githubusercontent.com/assets/1484989/16845782/0450d526-49e2-11e6-8642-535f01fde8da.png)

[2016-07-15 08:24] alexsup commented on #110
@jcampbell05 can we just use these assets?

https://www.facebookbrand.com/

[2016-07-15 08:27] alexsup commented on #124
@jcampbell05 Issues with Rich last night:

- People were all in same room. Their profile showed less than 5 mins away. They were shown on the radar as much further away.

[2016-07-15 08:30] Dannylowney commented on #110
They won’t fit the design we have, unfortunately.

Yuv - can you please provide James with a FBM icon in the style of the current icons we have on the ‘Sup Sent’ social sharing screen?

This is a blocker so ASAP please :)

Danny

--

Growth ⛏

danny@supmenow.com

+44 7973 954 846

On Fri, 15 Jul 2016 at 09:24 Alex Barton

<
mailto:Alex Barton <notifications@github.com>

https://github.com/jcampbel

[2016-07-15 09:00] jcampbell05 commented on #124
@alexsup Okay will create some test data on Sandbox to simulate this.

[2016-07-15 09:01] jcampbell05 opened #136 "Second Smaller Radar Artifact"
![image](https://cloud.githubusercontent.com/assets/1484989/16869108/14e768be-4a73-11e6-9d01-9f94feca6fd3.png)

[2016-07-15 09:02] jcampbell05 opened #137 "User profile not centered precisley"
![image](https://cloud.githubusercontent.com/assets/1484989/16869127/287f8834-4a73-11e6-953a-5948b7bc8706.png)

[2016-07-15 09:02] jcampbell05 opened #138 "White line on create a sup screen"
![image](https://cloud.githubusercontent.com/assets/1484989/16869141/363e41fe-4a73-11e6-9164-805a3892456c.png)

[2016-07-15 09:10] Dannylowney commented on #110
Done :)

It's attached - looks blank but that's just because it's white haha

[2016-07-15 09:13] Dannylowney commented on #110
Nice one

All good James?

On Friday, 15 July 2016, Yuveer Ramchandani <yuveer@supmenow.com> wrote:

--
Growth Lead ⛏
danny@supmenow.com
+44 7973 954 846

[2016-07-15 09:14] jcampbell05 commented on #110
@Dannylowney Github doesn't handle attachments so you'll have to email it to me :)

[2016-07-15 10:33] roger-tan commented on #134
Should be fixed (https://github.com/Supmenow/Sup-iOS/pull/1264)

[2016-07-15 10:56] #134 closed

[2016-07-15 13:42] roger-tan commented on #137
<img width="1792" alt="screenshot 2016-07-15 14 42 18" src="https://cloud.githubusercontent.com/assets/3829527/16876065/62fec7e6-4a9a-11e6-8962-12426708ef69.png">

It's centered!

[2016-07-15 14:28] #137 closed

[2016-07-15 15:06] roger-tan commented on #133
Fixed (https://github.com/Supmenow/Sup-iOS/pull/1266)

[2016-07-15 15:14] jcampbell05 commented on #136
Fixed in https://github.com/Supmenow/Sup-iOS/pull/1267

[2016-07-18 11:33] jcampbell05 opened #139 "User unable to access app."
https://mixpanel.com/report/835539/explore/#user?distinct_id=E87B9C85-BD9E-4793-8DEC-9DB5C964C0D1

On 4.4.1 user was stuck verifying digits
On 4.5 user was kicked out and stuck on login screen

It is also possible his user never used the app and we are sending screen view events for when iOS wakes up the app for background updates which will cause it to load the intial view controller.

[2016-07-18 11:36] alexsup opened #140 "Friends aren't importing correctly from Facebook."
We believe that we aren't importing Facebook friends correctly.

Locally, we need to:

1.  Confirm we import each friend correctly. We can do this with one HTTP request by sending a complete friend object payload.
2. Confirming success or failure of the HTTP Post.
3. Verbose logging that the above has been successful / unsuccessful
4. If unsuccessful, try 3 times in total. If after three times, lo

[2016-07-18 11:38] alexsup opened #141 "Friends aren't importing correctly from Digits."
We are uncertain we are importing digit friends correctly

Locally, we need to:

1.  Confirm we import each friend correctly. We can do this with one HTTP request by sending a complete friend object payload.
2. Confirming success or failure of the HTTP Post.
3. Verbose logging that the above has been successful / unsuccessful
4. If unsuccessful, try 3 times in total. If after three times, log unsu

[2016-07-18 11:41] alexsup opened #142 "When creating users the identifier is a UUID rather than a facebook ID"
Our Firebase IDs have regressed.

They used to be facebook_{facebook_id} now they are UUID.

Why is this happening.

Fix.

[2016-07-18 11:47] alexsup opened #143 "lastLocationUpdatedAt not updated"
We are not certain that lastLocationUpdatedAt is being updated.

** Moved

[2016-07-18 11:48] alexsup opened #144 "Radar is positioned into the top left of the screen"
Users are positioned off the screen.

Fix layout please.

[2016-07-18 11:50] jcampbell05 commented on #144
Should be fixed in dev

[2016-07-18 11:50] #144 closed

[2016-07-18 11:50] alexsup opened #145 "Joao couldn't select users in hangout"
When Joao was on create a sup
And he was trying to select phone contacts
Then he couldn't.

His mix panel is here:

https://mixpanel.com/report/835539/explore/#user?
distinct_id=7A4EEFC0-604F-45B0-B5DC-C845A4E54FDC

[2016-07-18 11:53] alexsup opened #146 "Too many regressions"

[2016-07-18 11:55] alexsup opened #147 "Update reciprocal friendships"
We need to fix recursive friends:

1. Update firebase node when completed importing friends
2. Node.js will listen and create recursive friends
3. Facebook callback webhook on server

[2016-07-18 11:58] alexsup commented on #147
@jcampbell05 is certain iOS is doing this locally.

[2016-07-18 12:02] jcampbell05 commented on #140
@alexsup  It appears that when the Importing Friends screen was added the restriction on how many friends we imported at once was unrestricted so it tries to do as many as possible.

I believe this was due to the fact it was perceived to take a long time (especially over poor internet and with Rich).

This seems to oversaturate the network stack and cause it to not add people as friends (or at lea

[2016-07-18 13:07] jcampbell05 commented on #147
@alexsup  iOS handles both sides of the friendship.

[2016-07-18 13:14] jcampbell05 commented on #140
@alexsup so `concat`eventually adds my friends, however if the user kills the app before we are able to finish or there is a network error then we still fail to import everyone.

There are a few ways to solve this or enhance this in the future:
- Keep using `concat` for now - Will take a while to import friends and user can interrupt it.
- Trigger the import every time the app opens - Very consumi

[2016-07-18 13:20] jcampbell05 commented on #141
Potentially related to https://github.com/Supmenow/sup-ios-issues/issues/140

[2016-07-18 13:21] jcampbell05 commented on #146
@alexsup We should gather up some situations where we failed and figure collect ways to improve it.

[2016-07-18 13:26] jcampbell05 commented on #145
@alexsup Tried to re-create this on `dev` and I regret to say I can't recreate it at the moment. I'll look at Mixpanel and Firebase to see if I can dig-out any interesting tid bits.

[2016-07-18 13:27] alexsup commented on #140
@jcampbell05 OK.

Importing friends is non-required functionality and should not interupt user experience nor should it be interrupted.

I imagine it should be done in the background.

I imagine that the process must be stateful and know if it has completed. If not, try again next time. However, it should be done incrementally so that if 30% of users are imported then the remaining 70% would be at

[2016-07-18 13:28] jcampbell05 commented on #145
Investigated Mixpanel and investigated the code nothing jumps out at me right now.

@roger-tan  any ideas ? was he able to select them in the end ?

[2016-07-18 13:35] jcampbell05 commented on #140
@alexsup For me the main concern is adding a lot of complexity to the app just to track where in the queue we are importing users from.

Right now we don't need this sort of functionally elsewhere in the app, so would like to avoid building it if we could.

From my understanding the Server already has to track updates from firebase etc so I think would be in a better position to do this sort of th

[2016-07-18 13:48] jcampbell05 commented on #144
Fixed in https://github.com/Supmenow/Sup-iOS/pull/1267

[2016-07-18 13:58] jcampbell05 commented on #140
Proposal for friendsImportQueue
https://supmenow.atlassian.net/wiki/display/SUP/Firebase+Macro+Schema

[2016-07-18 13:59] alexsup commented on #147
@jcampbell05 is this fixed by #140?

[2016-07-18 14:03] jcampbell05 commented on #147
@alexsup  This technically always worked for us, #140 fixes the importing saturation which blocks the import.

[2016-07-18 14:08] roger-tan commented on #142
Firebase change the response for the authentification provider data and expecialy the uid which is not facebook:{facebook identifier} but XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXX

[2016-07-18 14:08] #142 closed

[2016-07-18 14:20] alexsup commented on #146
1. Radar
2. Background updates
3. Updating location nodes
etc
etc

[2016-07-18 14:55] alexsup commented on #147
@jcampbell05 Closing as to be fixed by #140 .

[2016-07-18 14:55] #147 closed

[2016-07-18 14:58] jcampbell05 commented on #146
@alexsup  will have a think about these and come back.

[2016-07-18 15:07] jcampbell05 commented on #146
Radar - Was due to a storyboard change, this is quite hard to verify in a PR so perhaps we enforce the user to include a screenshot in a PR? @Dannylowney picked this up via testing luckily but after we pushed.

Importing friends was due to a change to speed things up for users. I don think in this case it would make it any faster for the majority of users who have 1 - 4 friends. I think in future

[2016-07-18 15:22] roger-tan commented on #145
Email sent to Joao. Waiting to get a response from him.

[2016-07-18 15:36] alexsup commented on #146
OK. Well Radar should have been picked up.

Engineers are responsible for their output.

The rest of the team are not a substitute for releasing without basic testing.

The rest of the team is useful for testing a few extra scenarios.

Then we should push to the brand managers.

We should do this all via test flight while we wait for release.

[2016-07-18 15:39] #146 closed

[2016-07-18 15:42] alexsup commented on #145
Great! Thanks dude.

[2016-07-18 16:20] jcampbell05 commented on #141
Tested now, this is fixed by #140 we can carry on any future fixes in that chain.

[2016-07-18 16:20] #141 closed

[2016-07-18 16:38] jcampbell05 commented on #140
@alexsup When are you thinking to implement the listener ? Would this be in the Node section ?

[2016-07-19 08:41] alexsup commented on #140
@jcampbell05 ASAP. Simply because it's broken otherwise.

[2016-07-19 08:43] jcampbell05 commented on #140
@alexsup well we're just back to the original behaviour pre-June the 14th right now.

[2016-07-19 08:44] alexsup commented on #140
@jcampbell05 please can you point to Jira story or issue that required this to be changed at that time?

[2016-07-19 09:01] jcampbell05 commented on #140
@alexsup I can't find one, off the top of my head we had introduced the new importing friends screen whilst I was away.

I think at the time we couldn't release until we sped up that screen to an acceptable standard. If this was something we needed to today we would take a screenshot and send it to buglife, it would be filed in github issues and we would figure out how we need to do it.

We remove

[2016-07-19 09:10] alexsup commented on #140
@jcampbell05 @roger-tan Ok. This is a classic example of lack of team-work and communication.

This clearly wasn't thought about, discussed or executed properly.

The outcome is that instead of the app not working for edge cases. It didn't work for everyone.

Now we can see the consequences of lack of team-work and communication let's be better.

[2016-07-19 09:13] jcampbell05 opened #148 "Radar loading state not showing when updating location"
Loading state should always be shown when updating location.

[2016-07-19 09:16] jcampbell05 commented on #140
@alexsup  I think the Github issues on the whole have helped with some of the more recent issues as Buglife allows users experiencing issues to give us quick and easy feedback (Like when I'm testing on my journey home I can easily send a screenshot without having to remember the details)

[2016-07-19 09:18] alexsup commented on #140
I accept that James.

However, do you understand what I'm getting at?

You guys have to be more accountable to each other.

[2016-07-19 09:23] jcampbell05 commented on #140
@alexsup  yes.

[2016-07-19 09:24] alexsup commented on #140
@jcampbell05 Thanks dude

[2016-07-19 10:21] #148 closed

[2016-07-19 10:35] #136 closed

[2016-07-19 10:38] jcampbell05 opened #149 "localUserID isn't retrieved correctly when doing background location update."
According to log entries most users have this because there is no local User ID however in a few cases it appears that log entries at leas knows who they are.

Potentially we aren't saving it in all scenarios ?

[2016-07-19 10:40] jcampbell05 opened #150 "Log all non-fatal errors"
@ab would like for us to start logging non-fatal errors to Crashlytics.

[2016-07-19 10:41] jcampbell05 opened #151 "Improve experience in poor connectivity enviroments"
From @roger, the app should let the user know when they are in a poor network environment or have no internet.

In future we can look into ways to implement better strategies to implement this such as Circuit Breakers.

[2016-07-19 10:42] jcampbell05 opened #152 "Implement strategy for handling failed requests"
When request fails, implement strategies for queuing up requests and defending against failures i.e. Circuit Breaker Technique.

[2016-07-19 13:07] jcampbell05 commented on #140
@alexsup Started work on this, working with @juliensup and @roger-tan to make sure its implemented the same as Android and other places we've hit the API in iOS.

[2016-07-19 13:19] jcampbell05 opened #153 "Multiple location updates."
@alexsup  is experiencing multiple location updates when we should maximum 3, we should look into  if we can reduce this somehow to the necessary ones without compromising reliability to the user.

[2016-07-19 13:21] roger-tan commented on #145
<img width="1792" alt="screenshot 2016-07-15 14 42 18" src="https://cloud.githubusercontent.com/assets/3829527/16951231/0d3d401a-4dbc-11e6-9ffb-d7bd7128a900.png">

[2016-07-19 13:21] roger-tan commented on #145
<img width="763" alt="screenshot 2016-07-19 14 21 04" src="https://cloud.githubusercontent.com/assets/3829527/16951257/20c277ae-4dbc-11e6-9b9e-2abfcd166a79.png">

[2016-07-19 13:24] jcampbell05 commented on #145
@roger-tan so he wasn't able to send the flare in the end ?

[2016-07-19 14:49] jcampbell05 opened #154 "Text invite's name should be the sender not the recipient."

[2016-07-19 16:05] roger-tan commented on #149
Was not able to replicate on Unit Test with 1.000.000 call to get the current user ID.

[2016-07-19 16:07] jcampbell05 commented on #149
We should look at log entries and figure out with @alexsup  if this was an old or new user, if can confirm that then maybe this was an issue with upgrading from an earlier version.

[2016-07-19 23:44] ab commented on #150
I imagine you meant to @ mention someone else.

[2016-07-20 09:30] jcampbell05 commented on #150
@ab Yes I did :)  cc/ @alexsup

[2016-07-20 10:13] alexsup commented on #154
@jcampbell05 Moved from 4.6.

STOP SCOPE CREAP....

[2016-07-20 10:41] jcampbell05 commented on #143
We should look into if the user's effected are people who upgraded, is there anything common between them ?

[2016-07-20 11:08] jcampbell05 commented on #143
Duplicate of https://github.com/Supmenow/Sup-iOS/issues/1269

[2016-07-20 11:08] #143 closed

[2016-07-20 11:09] roger-tan commented on #152
It has to be with Moya.

[2016-07-20 11:22] jcampbell05 commented on #152
For those not familiar with the circuit breaker technique :)

![image](https://cloud.githubusercontent.com/assets/1484989/16984875/9f82aa10-4e74-11e6-885f-d0ba281e2070.png)

[2016-07-20 15:42] jcampbell05 opened #155 "Update Testing Sheet"
Update testing sheet with all paths for iOS

https://docs.google.com/spreadsheets/d/1nFXWvLtMItZ5mTPGABevVY4fe7OXom24PwX6RB6D2tw/edit#gid=0

[2016-07-21 09:33] alexsup opened #156 "Empty State language isn't aligned with design."
- [ ] Update copy for english - We will have to make sure these are same key in POEditor across iOS and Android.
- [x] Updated white buttons to be same as blue hangout button.
- [x] Remove icon for contacts and locations disabled states for Radar and Friends List
- [x] Remove title for contacts and locations disabled states for Radar
- [x] Remove title for contacts and locations disabled states fo

[2016-07-21 09:38] alexsup opened #157 "Spanish Language"
Implement Spanish Language.

[2016-07-21 09:41] jcampbell05 commented on #156
Will have to make sure these are same key in POEditor.

[2016-07-21 09:47] jcampbell05 commented on #156
Before starting work on this we should break this up into tasks.

[2016-07-21 09:51] roger-tan commented on #156
For 4.6 or 4.7?

[2016-07-21 09:51] jcampbell05 commented on #156
Whatever is marked as the milestone for this issue.

[2016-07-21 09:52] jcampbell05 commented on #157
Done for iOS

[2016-07-21 09:52] #157 closed

[2016-07-21 13:46] jcampbell05 commented on #145
Fixed in #1281 - Selection would be lost for users with large amounts of contacts due to the fact we incrementally load them in and refresh the UI which causes the selection to be lost.

We tweaked it to refresh the UI in such a way that it keeps track of already loaded users.

[2016-07-21 14:10] #145 closed

[2016-07-21 14:13] roger-tan commented on #145
Just sent an email to Joao if he has a lot of contacts or not

[2016-07-21 14:43] roger-tan opened #158 "As a new user, my localUserID is not set up"
As a new users, my localUserID is not set up. That's means location background is not set up

`ARLog : 📍newLocation="<+51.50998000,-0.13370000> +/- 5.00m (speed -1.00 mps / course -1.00) @ 7/21/16, 3:41:58 PM British Summer Time" - horizontalAccuracy="5.0" verticalAccuracy="-1.0" altitude="0.0"`
`ARLog : 😎 Fetching localUserID for location update`
`ARLog : 😓 Error finding localUserID for location

[2016-07-21 14:44] jcampbell05 commented on #158
We should check the code in https://github.com/Supmenow/Sup-iOS/blob/dev/Sup/AppDelegate.swift is triggered.

[2016-07-21 14:49] alexsup commented on #158
@roger-tan Great spot!

Good testing.

[2016-07-21 14:52] jcampbell05 opened #159 "Tidy Up Authentication Code"
We have duplicate code in app delegate, authentication callback and login controller. We should move this to a common place and make sure we only have it where we need it.

[2016-07-21 14:54] jcampbell05 opened #160 "Do we still need localUserID memory test?"
If the real issue about the localUserID bug is first time logins, then do we still need the memory and disk tests ?

We should look if if `NSUserDefaults` is enough based on logs and testing. Then simplify the code to just use that.

[2016-07-21 15:08] roger-tan commented on #158
Should be fixed here (https://github.com/Supmenow/Sup-iOS/pull/1282)

[2016-07-21 15:11] jcampbell05 commented on #158
Regarding the new strategies here https://github.com/Supmenow/Sup-iOS/pull/1282#discussion-diff-71723484R188

I think the PR fixes the real bug and the strategy introduces un-needed complexity. We can keep it in this release see if any-body needs the new strategy but perhaps remove it when we are confident that `NSUserDefaults` is enougth.

We should also aim to have the code for setting all the a

[2016-07-22 10:29] roger-tan opened #161 "Refreshing the radar should not be refreshed in certain conditions"
- [ ] Dismiss a profile view
- [ ] Dismiss Settings view

[2016-07-22 10:37] roger-tan commented on #160
We need to investigate in couple days when we have enough feedbacks

[2016-07-22 11:25] jcampbell05 commented on #161
@roger-tan we should make sure it only shows the loading state when the location has changed that way it shouldn't show when dismissing screens but it will show it when it hasn't quite got the up to date list of nearby users for the new location.

[2016-07-22 11:26] jcampbell05 commented on #160
Agreed, will keep an eye on LogEntries, if most of them are successfully loading from `NSUserDefaults` then we can simplify.

[2016-07-25 09:07] roger-tan opened #162 "Avoid the double display of Facebook Login"
Sometimes, When I try to log in with Facebook, I have a double Facebook Window. We should find a solution to avoid the double display.

[2016-07-25 10:22] roger-tan commented on #156
![ios empty states](https://cloud.githubusercontent.com/assets/3829527/17098408/16adb182-525a-11e6-9a12-c5a83cf556ff.png)

Updated to the last Empty states

[2016-07-25 10:27] roger-tan opened #163 "On onboarding screens, add timeout"
When something takes a while to request. We should get a timeout.

<img width="487" alt="screenshot 2016-07-25 11 26 35" src="https://cloud.githubusercontent.com/assets/3829527/17098525/bd09e7f8-525a-11e6-8377-6a487646fa9e.png">

In this case, I forgot to set a location on location request

[2016-07-25 11:24] jcampbell05 commented on #163
Forgot to set a location ?

[2016-07-25 11:24] roger-tan commented on #163
On simulator

[2016-07-25 13:14] jcampbell05 opened #164 "Remove technical keys from POEditor"
For example `facebook_app_id`, seems Xcode picked it up as something to be translated.

[2016-07-25 13:18] roger-tan commented on #164
I agree. We should not provide keys from POEditor.

[2016-07-25 13:30] jcampbell05 commented on #164
Removed facebook app id here https://github.com/Supmenow/Sup-iOS/pull/1285

Will check for more and close this if I cant find any

[2016-07-25 14:05] jcampbell05 commented on #164
Can't see any others, closing.

[2016-07-25 14:05] #164 closed

[2016-07-25 14:07] jcampbell05 commented on #140
Implemented in 4.6 which is now released.

[2016-07-25 14:07] #140 closed

[2016-07-25 14:07] jcampbell05 commented on #158
Implemented as part of 4.6 which is now released.

[2016-07-25 14:07] #158 closed

[2016-07-25 14:09] jcampbell05 commented on #132
@roger-tan  Seems to be where the user is able to press send before the model has updated with the user's location selection. I had an error for "No location selected" when location was selected however when I pressed again it was okay.

[2016-07-25 14:12] jcampbell05 commented on #98
@alexsup Will monitor the nearby notifications with your new API stack, we should start mesuring metrics for this to see if this has improved.

[2016-07-25 14:22] jcampbell05 opened #165 "When adding additional users to a hangout, the previous selection is lost."

[2016-07-25 15:54] roger-tan commented on #163
So I know what's happening. I redo the onboarding with location denied

[2016-07-26 08:23] jcampbell05 opened #166 "Technology Debt To Swallow"
So here are the big thing coming out in the future we need to absorb:

- [ ] CocoaPods 1.0
- [ ] Firebase 3
- [ ] Xcode 8 & Swift 2.3
- [ ] iOS 10
- [ ] Swift 3

I've put this in the order we may want to do this in, if there are any other significant updates we can think of then feel free to leave a comment (For example updating Fastlane, our Ruby version or Ruby Version Manager).

[2016-07-26 08:55] #133 closed

[2016-07-26 08:56] #138 closed

[2016-07-26 08:57] roger-tan commented on #71
Should be a word-wrap

[2016-07-26 08:58] roger-tan commented on #110
@jcampbell05 is it updated?

[2016-07-26 08:58] roger-tan commented on #119
@jcampbell05 fixed on 4.6?

[2016-07-26 09:02] #162 closed

[2016-07-26 09:06] jcampbell05 opened #167 "Radar distance inconsistent with user profile screen"
Hopefully should be improved by moving to API

![image](https://cloud.githubusercontent.com/assets/1484989/17132206/a12eb9c8-5318-11e6-98fd-57fa40907a15.png)

[2016-07-26 09:39] jcampbell05 opened #168 "Move Facebook Analytics to ARAnalytics Provider"
For increased consistency :)

[2016-07-26 09:40] jcampbell05 opened #169 "Add Crashlytics as ARAnalytics Provider"
To log crashes.

[2016-07-26 09:47] roger-tan commented on #165
@jcampbell05 Working on

[2016-07-26 15:56] roger-tan commented on #151
@jcampbell05 : https://github.com/jaydee3/JDStatusBarNotification
What do you think ?

[2016-07-27 10:15] roger-tan opened #170 "For Devices in 32 Bits, users can't skip to the next one and get a fatal crash"
https://fabric.io/supmenow2/ios/apps/com.forever-beta.sup/issues/5796580affcdc042506e9063

[2016-07-27 14:39] alexsup opened #171 "Anthony can't send an image with a flare."
When an image is attached to a flare it tiggers a generic error.

"Oops, something went wrong"

[2016-07-27 15:11] jcampbell05 commented on #171
Seems to be S3 related, doesn't like Anothony's phone.

[2016-07-29 11:07] #170 closed

[2016-07-29 11:08] jcampbell05 commented on #166
@alexsup I think within the next month we should at least move to CP 1.0

[2016-08-02 08:33] jcampbell05 commented on #167
@alexsup  Implemented a tweak in latest code to reduce padding of users on radar so they will now touch centre user but still doesn't fix issue I think.

[2016-08-02 08:34] jcampbell05 opened #172 "Cannot implement friends from Digits."
When a new user uses 4.6.1 then they will get stuck on the digits importing screen.

How to reproduce:
1. Sign up as new user
2. Allow access to contacts on on-boarding screen
3. You will get stuck on the friends searching screen

[2016-08-02 08:39] jcampbell05 commented on #172
On initial investigation it appears that the code for importing digits which would advance the user from this screen has disappeared.

This means the user has to kill and re-launch the app to be able to use the app and import their Digits contacts. This is consistent with feedback from Danny and Rich.

[2016-08-02 08:55] jcampbell05 commented on #172
It seems when importing Digits from the on-boarding process we are getting an Error 400 from Firebase - still investigating why.

But I have tweaked the on-boarding so the user doesn't get stuck if there is an error.

I'll also look into implementing non-fatal errors in crashlytics.

[2016-08-02 09:07] jcampbell05 commented on #172
The underlying error seems to be the same one **Did It!** was having with `Twitter API error : users: field is required (code 357)`.

In that app it appeared that this could be due to us hitting some kind of rate limit and it was solved by us caching the users fetched from digits. We could potentially cache this in the `AccountDigitsDatastore`.

I will contact digits to verify if this is the real

[2016-08-02 10:39] jcampbell05 opened #173 "User profile screen has broken layout on iPhone 4"
![image](https://cloud.githubusercontent.com/assets/1484989/17325833/b9310e80-58a5-11e6-8dd1-0ffd3dc44320.png)

[2016-08-02 12:39] jcampbell05 opened #174 "Switch from uploadTask to downloadTask for location update."

[2016-08-02 12:40] alexsup commented on #174
@jcampbell05 can you explain?

[2016-08-02 12:40] jcampbell05 commented on #174
@alexsup  based on experimentation with **Did It** the latter creates a more reliable background HTTP request than the former.

[2016-08-02 12:53] #156 closed

[2016-08-02 12:53] #161 closed

[2016-08-02 13:15] jcampbell05 commented on #172
Fix in `dev`, API error appears to be digits server issue.

[2016-08-02 13:15] #172 closed

[2016-08-03 08:43] jcampbell05 opened #175 "Can we simplify the app to create one source of truth for nearby friends."
- Create one source of truth for nearby friends.
- Reduce number of different friends screens to just one.

To fix these issues:
https://www.buglife.com/apps/sup/reports/250
https://www.buglife.com/apps/sup/reports/249
https://www.buglife.com/apps/sup/reports/248

Will help for when we have background updates for radar.

[2016-08-15 09:07] jcampbell05 opened #176 "Move Contact Us To Settings"

[2016-08-15 11:41] jcampbell05 opened #177 "Add deep link for hangouts."

[2016-08-15 11:44] jcampbell05 opened #178 "Fix force touch for radar."

[2016-08-15 11:45] jcampbell05 opened #179 "Reduce number of CTAs on Radar."

[2016-08-16 08:46] alexsup opened #180 "Switch out smooch for messenger"

[2016-08-16 09:31] jcampbell05 commented on #166
@alexsup  Trying to implement CocoaPods 1.0 on a new branch.

[2016-08-16 15:16] jcampbell05 commented on #180
Preparing the settings screen for this.

<img width="609" alt="screen shot 2016-08-16 at 16 14 47" src="https://cloud.githubusercontent.com/assets/1484989/17704319/a2b64f58-63cc-11e6-97c4-88e136ff0a83.png">

[2016-08-16 15:22] jcampbell05 commented on #180
Preparing the new settings screen.

![simulator screen shot aug 16 2016 16 21 47](https://cloud.githubusercontent.com/assets/1484989/17704631/8ddb1554-63cd-11e6-94fd-5dcf3beabf0d.png)

[2016-08-16 15:25] jcampbell05 commented on #180
Here is an initial design of what this could look like.

![simulator screen shot aug 16 2016 16 25 01](https://cloud.githubusercontent.com/assets/1484989/17704784/feb83af4-63cd-11e6-9fce-a211e576a1c5.png)

[2016-08-16 15:28] jcampbell05 commented on #180
https://github.com/Supmenow/Sup-iOS/pull/1300

[2016-08-17 09:32] jcampbell05 commented on #180
In dev

[2016-08-17 09:32] #180 closed

[2016-08-17 09:32] jcampbell05 commented on #176
In dev

[2016-08-17 09:32] #176 closed

[2016-08-17 09:32] jcampbell05 commented on #174
Fixed in dev

[2016-08-17 09:32] #174 closed

[2016-08-18 15:21] jcampbell05 commented on #175
Implemented in `dev` - we need some additional tweaks for loading and nearby friends who have just signed up but those are seperate issues.

[2016-08-18 15:21] #175 closed

[2016-08-18 15:22] jcampbell05 commented on #169
Implemented.

[2016-08-18 15:22] #169 closed

[2016-08-18 15:22] jcampbell05 commented on #168
Implemented

[2016-08-18 15:22] #168 closed

[2016-08-18 15:24] jcampbell05 commented on #150
Should be implemented

[2016-08-18 15:25] #150 closed

[2016-08-18 15:28] jcampbell05 commented on #165
Fixed in `dev`

[2016-08-18 15:28] #165 closed

[2016-08-18 15:28] jcampbell05 commented on #132
Can't reproduce anymore.

[2016-08-18 15:28] #132 closed

[2016-08-18 15:31] jcampbell05 commented on #124
@Dannylowney @AnthonyAZ  was thinking about this, if they don't have friends they won't be able to zoom in or out due to empty state.

Would be interesting to see if they find it creepy or not.

[2016-08-18 15:32] jcampbell05 commented on #171
@AnthonyAZ  tried it on another sim card, probably not network related  but will investigate when he is back.

[2016-08-18 15:32] jcampbell05 commented on #153
The new location update logic for 5.0 should handle this a lot better.

[2016-08-18 15:32] #153 closed

[2016-08-18 16:00] jcampbell05 opened #181 "Try to get watch app more predictable."
:) very confused app right now, we should also update to be able to trigger  creating a hangout :)

[2016-08-18 16:24] Dannylowney commented on #124
I should have said user doesn't have *many friends

On Thursday, 18 August 2016, James Campbell <notifications@github.com>
wrote:

--
Growth Lead ⛏
danny@supmenow.com
+44 7973 954 846

[2016-08-18 16:30] jcampbell05 commented on #124
Layout issues should be fixed, will have some final tweaks soon that will make sure minutes are always accurate.

[2016-08-18 16:43] jcampbell05 opened #182 "User Location Data"
@alexsup Do you need the location data to be store under `/users` ?

I'm thinking the app is almost in a position where we can remove this data.

[2016-08-18 16:44] jcampbell05 commented on #167
Should be fixed in PR pending https://github.com/Supmenow/Sup-iOS/pull/1307

[2016-08-18 16:44] jcampbell05 commented on #124
Fixes in PR Pending https://github.com/Supmenow/Sup-iOS/pull/1307

[2016-08-18 16:44] #124 closed

[2016-08-18 16:44] jcampbell05 commented on #135
Fixed in dev

[2016-08-18 16:44] #135 closed

[2016-08-19 08:54] alexsup commented on #98
I feel this is fixed now

[2016-08-19 08:54] #98 closed

[2016-08-19 09:03] jcampbell05 commented on #167
Seems the RadarLayout isn't invalidating the RadarItem distance attribute when the underlying data changes.

[2016-08-19 09:15] jcampbell05 commented on #167
Fixed in PR pending https://github.com/Supmenow/Sup-iOS/pull/1308

[2016-08-19 09:15] #167 closed

[2016-08-19 09:32] jcampbell05 opened #183 "Update test for latest changes for improved loction behaviour."

[2016-08-19 09:40] alexsup opened #184 "Does recipricol notifications unhide people?"

[2016-08-19 10:12] jcampbell05 commented on #184
@alexsup  Can you elaborate ?

[2016-08-19 10:13] #139 closed

[2016-08-19 10:19] alexsup commented on #184
@jcampbell05 So when a user hides themselves they no longer have a location node.

However, when a friend triggers a notification then:

[code]

This updates the original users node and potentially unhides them. However, without a longitude, or a g valueI'm not sure how relevant this is.

[2016-08-19 10:26] #173 closed

[2016-08-19 11:04] jcampbell05 commented on #184
@alexsup  Okay in `5.1` we should seperate these concerns:

- Nearby users are fetched from API
- If `isVisible` under `/user/<userID>` is `false` then they will be filtered out.
- Visibility should only change `isVisible` from true to false
- Location will only be removed if it has expired by the server.

In preparation for this change I could add some additional code in 5.0 to filter out `isVisi

[2016-08-19 11:09] #182 closed

[2016-08-19 13:54] jcampbell05 opened #185 "Straight line distance calculation creates misleading walking distance"
Due to straight line distance calculation walking the app recons to walk from Old Street to where Grabble are on the radar it would be within 6 minutes but Google recons it's at least 2x this.

@alexsup should we inflate this numbers a little ? does it matter ? do will kill this indicator completely?

[2016-08-19 14:46] jcampbell05 commented on #101
Seems to be fixed in latest `dev`

[2016-08-19 14:46] #101 closed

[2016-08-22 08:52] jcampbell05 opened #186 "5.1: Instant"
Overview of 5.1 "Instant":
- New Contacts Import API
- Nearby users sent along with Notifications.
- Nearby User Service should update in order
- Nearby User Service should cancel older updates
- Silent notifications to inject additional updates or to notify app of a signed up user nearby
- Background Refresh for nearby users.
- Deep linking of hangouts from notifications.
- Reliable watch app (Im

[2016-08-22 08:53] jcampbell05 commented on #186
@alexsup

[2016-08-24 08:58] jcampbell05 opened #187 "Nearby Notification Roundtrip Cause Notification Distance To Become Out Of Date"
This problem is exacerbated the faster the user and the slower the internet.

When a location update is triggered, we initiate the following round trip:

- Upload Location via Background Network Request
- Server fetches nearby users from firebase
- Server sends notification via Parse which sends it via GCM (?) which sends it via Apple

During this round-trip the user has already moved which in ext

[2016-08-24 09:12] jcampbell05 commented on #187
Or we could remove distance from all nearby notifications :).

[2016-08-30 16:53] jcampbell05 opened #188 "If user disables wifi for the app we need to give some sort of feedback"
Is there a way to detect this ?